<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
        
		<dubbo:application name="bms-mq-billimport"/>
		
 		<dubbo:registry protocol="zookeeper" address="${legacy.dubbo.registry}"/>
	
		<dubbo:consumer version="1.0.0" timeout="1200000" retries="0" cluster="failfast" />
		
		<dubbo:reference interface="com.jiuyescm.bms.base.dict.api.ICarrierDictService"
				version="1.0.0" id="carrierDictService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.base.dict.api.ICustomerDictService"
				version="1.0.0" id="customerDictService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.base.dict.api.IDeliverDictService"
				version="1.0.0" id="deliverDictService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.base.dict.api.IWarehouseDictService"
				version="1.0.0" id="warehouseDictService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.subject.service.IBmsSubjectInfoService"
				version="1.0.0" id="bmsSubjectService" timeout="1200000" check="false"/>
		
		<dubbo:reference interface="com.jiuyescm.bms.base.dict.api.IMaterialDictService"
				version="1.0.0" id="materialDictService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.billcheck.service.IBillReceiveMasterService"
				version="1.0.0" id="billReceiveMasterService" timeout="1200000" check="false"/>
				
		<dubbo:reference interface="com.jiuyescm.bms.billcheck.service.IBillCheckInfoService"
				version="1.0.0" id="billCheckInfoService" timeout="1200000" check="false"/>
</beans> 