<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.base.customer.PubCustomerBaseMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.base.customer.entity.PubCustomerBaseEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="mk_id" property="mkId" jdbcType="VARCHAR" />
		   	<result column="mk_invoice_name" property="mkInvoiceName" jdbcType="VARCHAR" />
		   	<result column="creator" property="creator" jdbcType="VARCHAR" />
		   	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		   	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
		   	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		   	<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		   	<result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, mk_id, mk_invoice_name, creator, create_time, last_modifier, last_modify_time, del_flag, write_time
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
mk_id, mk_invoice_name, creator, create_time, last_modifier, last_modify_time, del_flag, write_time
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from pub_customer_base
        where id = #{id}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.base.customer.entity.PubCustomerBaseEntity">
		select distinct b.mk_invoice_name,a.mk_id from pub_customer a
		inner join pub_customer_base b on a.mk_id = b.mk_id
		where  a.del_flag = '0' and b.del_flag = '0'
		<if test="(mkInvoiceName != null and mkInvoiceName !='')" >
		and b.mk_invoice_name like '%${mkInvoiceName}%'
		</if>
    </select>
    
    <select id="queryByMkInvoiceName" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.base.customer.entity.PubCustomerBaseEntity">
		select distinct b.mk_invoice_name,a.mk_id from pub_customer a
		inner join pub_customer_base b on a.mk_id = b.mk_id
		where  a.del_flag = '0' and b.del_flag = '0'
		<if test="(mkInvoiceName != null and mkInvoiceName !='')" >
		and b.mk_invoice_name = #{mkInvoiceName}
		</if>
    </select>
</mapper>