<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.base.customer.PubCustomerSaleMapperMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.base.customer.entity.PubCustomerSaleMapperEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		   	<result column="customer_name" property="customerName" jdbcType="VARCHAR" />
		   	<result column="origin_seller_id" property="originSellerId" jdbcType="VARCHAR" />
		   	<result column="origin_seller_name" property="originSellerName" jdbcType="VARCHAR" />
		   	<result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
		   	<result column="creator" property="creator" jdbcType="VARCHAR" />
		   	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		   	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
		   	<result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
		   	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, customer_id, customer_name, origin_seller_id, origin_seller_name, creator_id, creator, create_time, last_modifier, last_modifier_id, last_modify_time
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
customer_id, customer_name, origin_seller_id, origin_seller_name, creator_id, creator, create_time, last_modifier, last_modifier_id, last_modify_time
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from pub_customer_sale_mapper
        where id = #{id}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.base.customer.entity.PubCustomerSaleMapperEntity">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from pub_customer_sale_mapper
        where 1 = 1
        	<if test=" id != null and id !='' ">
				and id = #{id}
			</if>
        	<if test=" customerId != null and customerId !='' ">
				and customer_id = #{customerId}
			</if>
        	<if test=" customerName != null and customerName !='' ">
				and customer_name = #{customerName}
			</if>
        	<if test=" originSellerId != null and originSellerId !='' ">
				and origin_seller_id = #{originSellerId}
			</if>
        	<if test=" originSellerName != null and originSellerName !='' ">
				and origin_seller_name = #{originSellerName}
			</if>
        	<if test=" creatorId != null and creatorId !='' ">
				and creator_id = #{creatorId}
			</if>
        	<if test=" creator != null and creator !='' ">
				and creator = #{creator}
			</if>
        	<if test=" createTime != null and createTime !='' ">
				and create_time = #{createTime}
			</if>
        	<if test=" lastModifier != null and lastModifier !='' ">
				and last_modifier = #{lastModifier}
			</if>
        	<if test=" lastModifierId != null and lastModifierId !='' ">
				and last_modifier_id = #{lastModifierId}
			</if>
        	<if test=" lastModifyTime != null and lastModifyTime !='' ">
				and last_modify_time = #{lastModifyTime}
			</if>
    </select>

	<!-- 保存 -->
    <insert id="save" parameterType="com.jiuyescm.bms.base.customer.entity.PubCustomerSaleMapperEntity">
        insert into pub_customer_sale_mapper(
        	<include refid="BASE_COLUMNS_WITHOUT_ID" />
    	)
        values (

			#{customerId,jdbcType=VARCHAR}, 
			#{customerName,jdbcType=VARCHAR}, 
			#{originSellerId,jdbcType=VARCHAR}, 
			#{originSellerName,jdbcType=VARCHAR}, 
			#{creatorId,jdbcType=VARCHAR}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifierId,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

	<!-- 更新 -->
    <update id="update" parameterType="com.jiuyescm.bms.base.customer.entity.PubCustomerSaleMapperEntity">
        update pub_customer_sale_mapper
        <trim prefix="set" suffixOverrides=",">
			<if test=" customerId != null and customerId !='' ">
				customer_id = #{customerId,jdbcType=VARCHAR},
			</if>
			<if test=" customerName != null and customerName !='' ">
				customer_name = #{customerName,jdbcType=VARCHAR},
			</if>
			<if test=" originSellerId != null and originSellerId !='' ">
				origin_seller_id = #{originSellerId,jdbcType=VARCHAR},
			</if>
			<if test=" originSellerName != null and originSellerName !='' ">
				origin_seller_name = #{originSellerName,jdbcType=VARCHAR},
			</if>
			<if test=" creatorId != null and creatorId !='' ">
				creator_id = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test=" creator != null and creator !='' ">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test=" createTime != null and createTime !='' ">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" lastModifier != null and lastModifier !='' ">
				last_modifier = #{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifierId != null and lastModifierId !='' ">
				last_modifier_id = #{lastModifierId,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifyTime != null and lastModifyTime !='' ">
				last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
        </trim>
        where id = #{id}
    </update>

	<!-- 删除 -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from pub_customer_sale_mapper 
        where id = #{id}
    </delete>
</mapper>