/.settings/
.project
.classpath
/target/
/bin/
*.iml
/.idea/
*.bat
/LOG_HOME_IS_UNDEFINED/
/disconf/
*.rules
configure.properties
excel-support/target/classes/META-INF/MANIFEST.MF
drools-support/target/classes/META-INF/MANIFEST.MF
