<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
    ">

	<!-- 阿里 druid数据库连接池 -->
	<bean id="bmsDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" /> 
		<!-- 数据库基本信息配置 -->  
		<property name="url" value="${bms.url}" /> 
		<property name="username" value="${jdbc.bms.username}" />
		<property name="password" value="${jdbc.bms.password}" />
		 <!-- 数据库基本信息配置 --> 
		<property name="filters" value="${filters}" />
		<!-- 最大并发连接数 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${validationQuery}" />
		<property name="testWhileIdle" value="${testWhileIdle}" />
		<property name="testOnBorrow" value="${testOnBorrow}" />
		<property name="testOnReturn" value="${testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${maxOpenPreparedStatements}" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="${removeAbandoned}" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="${logAbandoned}" />  
		<property name="connectionProperties" value="config.decrypt=true;config.decrypt.key=${publickey}" />
	</bean>

	<bean id="sqlSessionFactoryBeanRepository"
		class="com.jiuyescm.cfm.persistence.mybatis.SqlSessionFactoryBeanRepository" />

	<!-- myBatis文件 默认数据源-增删改库（Master） -->
	<bean id="mybatisSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBeanExt">
        <property name="dataSourceName" value="BMS" />
        <property name="asDefault" value="true" />
        <property name="dataSource" ref="bmsDataSource" />
        <property name="typeAliasesPackage" value="com.jiuyescm.**.entity" />
        <property name="configLocation" value="classpath:/spring/mybatis-config.xml" />
        <property name="mapperLocations" value="classpath*:com/jiuyescm/**/mapper/*Mapper.xml" />
    </bean>

	<!-- 配置事务管理器 -->
	<bean id="myBatisTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="bmsDataSource" />
	</bean>

	<!-- 注解方式配置事物对标注@Transaction ,使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="myBatisTransactionManager"
		proxy-target-class="true" />

</beans>