<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.general.entity.FeesReceiveStorageMapper" >

	<resultMap id="feesReceiveStorageMap" type="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="fees_no" property="feesNo" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
	    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
	    <result column="product_type" property="productType" jdbcType="VARCHAR" />
	    <result column="cost_type" property="costType" jdbcType="VARCHAR" />
	    <result column="subject_code" property="subjectCode" jdbcType="VARCHAR" />
	    <result column="other_subject_code" property="otherSubjectCode" jdbcType="VARCHAR" />
	    <result column="tempreture_type" property="tempretureType" jdbcType="VARCHAR" />
	    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
	    <result column="product_name" property="productName" jdbcType="VARCHAR" />
	    <result column="external_product_no" property="externalProductNo" jdbcType="VARCHAR" />
	    <result column="quantity" property="quantity" jdbcType="INTEGER" />
	    <result column="unit" property="unit" jdbcType="VARCHAR" />
	    <result column="weight" property="weight" jdbcType="DOUBLE" />
	    <result column="volume" property="volume" jdbcType="DOUBLE" />
	    <result column="varieties" property="varieties" jdbcType="INTEGER" />
	    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
	    <result column="continued_price" property="continuedPrice" jdbcType="DOUBLE" />
	    <result column="cost" property="cost" jdbcType="DECIMAL" />
	    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
	    <result column="param1" property="param1" jdbcType="VARCHAR" />
	    <result column="param2" property="param2" jdbcType="VARCHAR" />
	    <result column="param3" property="param3" jdbcType="VARCHAR" />
	    <result column="param4" property="param4" jdbcType="VARCHAR" />
	    <result column="param6" property="param6" jdbcType="VARCHAR" />
	    <result column="rule_no" property="ruleNo" jdbcType="VARCHAR" />
	    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="VARCHAR" />
	    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
	    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="insert" parameterType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity">
        insert into fees_receive_storage(fees_no, creator, create_time, last_modifier, last_modify_time, customer_id, customer_name, warehouse_code, warehouse_name, order_type, order_no, product_type, cost_type, subject_code,other_subject_code, tempreture_type, product_no, product_name, external_product_no, quantity, unit, weight, volume, varieties, box, unit_price, continued_price, cost,biz_type,is_calculated, calculate_time, param1, param2, param3, param4, param6, rule_no, bill_no, `status`, operate_time,biz_id,del_flag,first_num, first_price, continue_num, continue_price)
        values (
			#{feesNo,jdbcType=VARCHAR}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{customerId,jdbcType=VARCHAR}, 
			#{customerName,jdbcType=VARCHAR}, 
			#{warehouseCode,jdbcType=VARCHAR}, 
			#{warehouseName,jdbcType=VARCHAR}, 
			#{orderType,jdbcType=VARCHAR}, 
			#{orderNo,jdbcType=VARCHAR}, 
			#{productType,jdbcType=VARCHAR}, 
			#{costType,jdbcType=VARCHAR}, 
			#{subjectCode,jdbcType=VARCHAR},
			#{otherSubjectCode,jdbcType=VARCHAR}, 
			#{tempretureType,jdbcType=VARCHAR}, 
			#{productNo,jdbcType=VARCHAR}, 
			#{productName,jdbcType=VARCHAR}, 
			#{externalProductNo,jdbcType=VARCHAR}, 
			#{quantity,jdbcType=INTEGER}, 
			#{unit,jdbcType=VARCHAR}, 
			#{weight,jdbcType=DOUBLE}, 
			#{volume,jdbcType=DOUBLE}, 
			#{varieties,jdbcType=INTEGER}, 
			#{box,jdbcType=INTEGER}, 
			#{unitPrice,jdbcType=DOUBLE}, 
			#{continuedPrice,jdbcType=DOUBLE}, 
			#{cost,jdbcType=DECIMAL}, 
			#{bizType,jdbcType=VARCHAR},
			#{isCalculated,jdbcType=VARCHAR}, 
			#{calculateTime,jdbcType=TIMESTAMP},
			#{param1,jdbcType=VARCHAR}, 
			#{param2,jdbcType=VARCHAR}, 
			#{param3,jdbcType=VARCHAR}, 
			#{param4,jdbcType=VARCHAR}, 
			#{param6,jdbcType=VARCHAR}, 
			#{ruleNo,jdbcType=VARCHAR}, 
			#{billNo,jdbcType=VARCHAR}, 
			#{status,jdbcType=VARCHAR}, 
			#{operateTime,jdbcType=TIMESTAMP},
			#{bizId,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{firstNum,jdbcType=DOUBLE},
			#{firstPrice,jdbcType=DOUBLE},
			#{continueNum,jdbcType=DOUBLE},
			#{continuePrice,jdbcType=DOUBLE}
        )
    </insert>
    
    <select id="query" parameterType="java.lang.String" resultMap ="feesReceiveStorageMap">
        select
        id, fees_no, creator, create_time, last_modifier, last_modify_time, customer_id, customer_name, 
        warehouse_code, warehouse_name, order_type, order_no, product_type, cost_type, subject_code, other_subject_code,
        tempreture_type, product_no, product_name, external_product_no, quantity, unit, weight, volume, 
        varieties, unit_price, continued_price, cost,biz_type, param1, param2, param3, param4, param6, rule_no, 
        bill_no, status, operate_time, biz_id,del_flag
        from fees_receive_storage
        where fees_no = #{feesNo}
    </select>
    
    <!-- 根据费用编号更新费用 -->
    <update id="update" parameterType="java.util.Map">
    	update fees_receive_storage 
	    <trim prefix="set" suffixOverrides=",">
	        <trim prefix="tempreture_type =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.tempretureType != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.tempretureType}
                    </if>
                </foreach>
            </trim>
    	    <trim prefix="quantity =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                     <if test="biz.quantity != null" >
                       when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.quantity}
                     </if>
                </foreach>
            </trim>
             <trim prefix="box =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.box != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.box}
                    </if>
                </foreach>
            </trim>
             <trim prefix="unit =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.unit != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.unit}
                    </if>
                </foreach>
            </trim>
            <trim prefix="weight=case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.weight != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.weight}
                    </if>
                </foreach>
            </trim>
            <trim prefix="volume =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.volume != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.volume}
                    </if>
                </foreach>
            </trim>
            <trim prefix="varieties =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.varieties != null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.varieties}
                    </if>
                </foreach>
            </trim>
            <trim prefix="unit_price =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.unitPrice!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.unitPrice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="continued_price =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.continuedPrice!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.continuedPrice}
                    </if>
                </foreach>
            </trim>
           <trim prefix="cost =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.cost!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.cost}
                    </if>
                </foreach>
            </trim>
           <trim prefix="is_calculated =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.isCalculated!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.isCalculated}
                    </if>
                </foreach>
            </trim>
            <trim prefix="calculate_time =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.calculateTime!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.calculateTime}
                    </if>
                </foreach>
            </trim>
             <trim prefix="param1 =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.param1!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.param1}
                    </if>
                </foreach>
            </trim>
            <trim prefix="param2 =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.param2!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.param2}
                    </if>
                </foreach>
            </trim>
            <trim prefix="param3 =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.param3!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.param3}
                    </if>
                </foreach>
            </trim>
            <trim prefix="param4 =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.param4!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.param4}
                    </if>
                </foreach>
            </trim>
            <trim prefix="param6 =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.param6!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode} then #{biz.param6}
                    </if>
                </foreach>
            </trim>
             <trim prefix="rule_no =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.ruleNo!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.ruleNo}
                    </if>
                </foreach>
            </trim>
            <trim prefix="calcu_msg =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.calcuMsg!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.calcuMsg}
                    </if>
                </foreach>
            </trim>
            <trim prefix="contract_attr =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.contractAttr!= null" >
                      when fees_no=#{biz.feesNo} and subject_code=#{biz.subjectCode}  then #{biz.contractAttr}
                    </if>
                </foreach>
            </trim>
        </trim>
	    where fees_no in
        <foreach collection="list" index="index" item="biz" separator="," open="(" close=")">
             #{biz.feesNo}
        </foreach>
       and del_flag='0'
    </update>
    
    
    <update id="updateFee" parameterType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity">
        update fees_receive_storage 
		<set >
			<if test="tempretureType != null" >tempreture_type=#{tempretureType,jdbcType=VARCHAR},</if>
			<if test="quantity != null" >quantity=#{quantity,jdbcType=INTEGER},</if>
			<if test="box != null" >box=#{box,jdbcType=DOUBLE},</if>
			<if test="unit != null" >unit=#{unit,jdbcType=VARCHAR},</if>
			<if test="weight != null" >weight=#{weight,jdbcType=DOUBLE},</if>
			<if test="volume != null" >volume=#{volume,jdbcType=DOUBLE},</if>
			<if test="varieties != null" >varieties=#{varieties,jdbcType=INTEGER},</if>
			<if test="unitPrice != null" >unit_price=#{unitPrice,jdbcType=DOUBLE},</if>
			<if test="continuedPrice != null" >continued_price=#{continuedPrice,jdbcType=DOUBLE},</if>
			<if test="cost != null" >cost=#{cost,jdbcType=DECIMAL},</if>
			<if test="isCalculated != null" >is_calculated=#{isCalculated,jdbcType=VARCHAR},</if>
			<if test="calculateTime != null" >calculate_time=#{calculateTime,jdbcType=TIMESTAMP},</if>
			<if test="param1 != null" >param1=#{param1,jdbcType=VARCHAR},</if>
			<if test="param2 != null" >param2=#{param2,jdbcType=VARCHAR},</if>
			<if test="param3 != null" >param3=#{param3,jdbcType=VARCHAR},</if>
			<if test="param4 != null" >param4=#{param4,jdbcType=VARCHAR},</if>
			<if test="param6 != null" >param6=#{param6,jdbcType=VARCHAR},</if>
			<if test="ruleNo != null" >rule_no=#{ruleNo,jdbcType=VARCHAR},</if>
			<if test="contractAttr != null" >contract_attr = #{contractAttr,jdbcType=VARCHAR},</if>
			<if test="calcuMsg != null" >calcu_msg=#{calcuMsg,jdbcType=VARCHAR},</if>
		</set>
        where fees_no=#{feesNo} and subject_code = #{subjectCode} and del_flag='0'
    </update>
    
    
    <update id="updateOne" parameterType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity">
        update fees_receive_storage  
	        <set >
	        	<if test="isCalculated != null" >is_calculated=#{isCalculated,jdbcType=VARCHAR},</if>
	        	<if test="param1 != null" >param1=#{param1,jdbcType=VARCHAR},</if>
				<if test="param2 != null" >param2=#{param2,jdbcType=VARCHAR},</if>
				<if test="param3 != null" >param3=#{param3,jdbcType=VARCHAR},</if>
				<if test="cost != null" >cost=#{cost,jdbcType=DECIMAL},</if>
	        </set>
        where fees_no = #{feesNo}
    </update>  

    <delete id="delete" parameterType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity">
        delete from fees_receive_storage where
        biz_id=#{bizId} and subject_code = #{subjectCode} 
    </delete>
    
    <delete id="deleteBatch" parameterType="java.util.Map">
        delete from fees_receive_storage where
        fees_no in
		<foreach collection="feesNos" index="index" item="item" open="(" separator="," close=")">
			 		#{item}
		</foreach>
		<if test="subjectId != null" >and subject_code = #{subjectId}</if>
    </delete>
    
    <select id="ValidFeesNo" parameterType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity" resultMap ="feesReceiveStorageMap">
        select id from fees_receive_storage where
        biz_id=#{bizId} and subject_code = #{subjectCode} limit 1
    </select>
    
    <!-- 统计日收入 -->
    <select id="queryDailyStorageFee" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.general.entity.FeesReceiveStorageEntity">
        select customer_id as customerId, other_subject_code as otherSubjectCode, 
        	   SUM(IFNULL(cost, 0) - IFNULL(derate_amount, 0)) as cost
        from fees_receive_storage
        where create_time <![CDATA[>=]]> #{startTime} and create_time <![CDATA[<=]]> #{endTime}
        GROUP BY customer_id, other_subject_code
    </select>
    
     <delete id="updateImportFee" parameterType="java.util.Map">
     	delete from fees_receive_storage where fees_no in
		(
		    select d.fees_no from
		    (
					select a.fees_no from biz_outstock_packmaterial a
					INNER JOIN
					(
						select waybill_no from  biz_outstock_packmaterial 
						where customer_id=#{customerId}  and del_flag='0' and source in ('import','system') and create_time>=#{beginTime} and <![CDATA[create_time< #{endTime}]]>
						GROUP BY waybill_no
						having FIND_IN_SET('import',GROUP_CONCAT(source))>0 and FIND_IN_SET('system',GROUP_CONCAT(source))>0
					) b on a.waybill_no=b.waybill_no
					where a.source='import' and a.del_flag='0'
			) d
		)
    </delete>
</mapper>