<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.general.PriceContractInfoMapper" >

	<resultMap id="baseResultMap" type="com.jiuyescm.bms.quotation.contract.entity.PriceContractInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
	    <result column="contract_type_code" property="contractTypeCode" jdbcType="VARCHAR" />
	    <result column="contract_state" property="contractState" jdbcType="VARCHAR" />
	    <result column="customerId" property="customerId" jdbcType="VARCHAR" />
	    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
	    <result column="contract_obj" property="contractObj" jdbcType="VARCHAR" />
	    <result column="paper_contract_no" property="paperContractNo" jdbcType="VARCHAR" />
	    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
	    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
	    <result column="description" property="description" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>


	<!-- cjw by 2017-06-06  条件：未撤销且当前时间必须在合同生效日期和失效日期之间 -->
    <select id="queryContract" parameterType="java.util.Map" resultMap="baseResultMap">
       select contract_code,contract_type_code,customerId,customerName,contract_obj,paper_contract_no,del_flag,start_date,expire_date
        from price_contract_info 
        where del_flag = '0' 
		and <![CDATA[start_date <#{endDate}]]> and <![CDATA[expire_date >=#{startDate}]]>
        and customerid=#{customerid} and contract_type_code=#{contractTypeCode} and contract_state='1'
    </select>
    
    <!-- cjw by 2017-06-06 条件：未撤销且当前时间必须在合同生效日期和失效日期之间 -->
    <select id="queryContractByCustomer" parameterType="java.util.Map" resultMap="baseResultMap">
        select contract_code,contract_type_code,customerId,customerName,contract_obj,paper_contract_no,del_flag 
        from price_contract_info 
        where del_flag = 0 and <![CDATA[start_date < current_timestamp()]]>  and <![CDATA[expire_date >= current_timestamp()]]>
        and customerid=#{customerid} and contract_type_code=#{contractTypeCode} and contract_state='1' limit 1
    </select>
    
</mapper>