<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.base.dict.PubPackageDictMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.base.dict.entity.PubPackageDictEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="pack_mark" property="packMark" jdbcType="VARCHAR" />
		   	<result column="season" property="season" jdbcType="VARCHAR" />
		   	<result column="transport_temperature_type" property="transportTemperatureType" jdbcType="VARCHAR" />
		   	<result column="transport_type" property="transportType" jdbcType="VARCHAR" />
		   	<result column="holding_time" property="holdingTime" jdbcType="VARCHAR" />
		   	<result column="pack_operate_type" property="packOperateType" jdbcType="VARCHAR" />
		   	<result column="material_type" property="materialType" jdbcType="VARCHAR" />
		   	<result column="material_type_name" property="materialTypeName" jdbcType="VARCHAR" />
		   	<result column="cre_person" property="crePerson" jdbcType="VARCHAR" />
		   	<result column="cre_person_id" property="crePersonId" jdbcType="VARCHAR" />
		   	<result column="cre_time" property="creTime" jdbcType="TIMESTAMP" />
		   	<result column="mod_person" property="modPerson" jdbcType="VARCHAR" />
		   	<result column="mod_person_id" property="modPersonId" jdbcType="VARCHAR" />
		   	<result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
		   	<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, pack_mark, season, transport_temperature_type, transport_type, holding_time, pack_operate_type, material_type, material_type_name, cre_person, cre_person_id, cre_time, mod_person, mod_person_id, mod_time, del_flag
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
pack_mark, season, transport_temperature_type, transport_type, holding_time, pack_operate_type, material_type, material_type_name, cre_person, cre_person_id, cre_time, mod_person, mod_person_id, mod_time, del_flag
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from pub_package_dict
        where id = #{id}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.base.dict.entity.PubPackageDictEntity">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from pub_package_dict
        where 1 = 1
        	<if test=" id != null and id !='' ">
				and id = #{id}
			</if>
        	<if test=" packMark != null and packMark !='' ">
				and pack_mark = #{packMark}
			</if>
        	<if test=" season != null and season !='' ">
				and season = #{season}
			</if>
        	<if test=" transportTemperatureType != null and transportTemperatureType !='' ">
				and transport_temperature_type = #{transportTemperatureType}
			</if>
        	<if test=" transportType != null and transportType !='' ">
				and transport_type = #{transportType}
			</if>
        	<if test=" holdingTime != null and holdingTime !='' ">
				and holding_time = #{holdingTime}
			</if>
        	<if test=" packOperateType != null and packOperateType !='' ">
				and pack_operate_type = #{packOperateType}
			</if>
        	<if test=" materialType != null and materialType !='' ">
				and material_type = #{materialType}
			</if>
        	<if test=" materialTypeName != null and materialTypeName !='' ">
				and material_type_name = #{materialTypeName}
			</if>
        	<if test=" crePerson != null and crePerson !='' ">
				and cre_person = #{crePerson}
			</if>
        	<if test=" crePersonId != null and crePersonId !='' ">
				and cre_person_id = #{crePersonId}
			</if>
        	<if test=" creTime != null and creTime !='' ">
				and cre_time = #{creTime}
			</if>
        	<if test=" modPerson != null and modPerson !='' ">
				and mod_person = #{modPerson}
			</if>
        	<if test=" modPersonId != null and modPersonId !='' ">
				and mod_person_id = #{modPersonId}
			</if>
        	<if test=" modTime != null and modTime !='' ">
				and mod_time = #{modTime}
			</if>
        	<if test=" delFlag != null and delFlag !='' ">
				and del_flag = #{delFlag}
			</if>
    </select>

	<!-- 保存 -->
    <insert id="save" parameterType="com.jiuyescm.bms.base.dict.entity.PubPackageDictEntity">
        insert into pub_package_dict(
        	<include refid="BASE_COLUMNS_WITHOUT_ID" />
    	)
        values (

			#{packMark,jdbcType=VARCHAR}, 
			#{season,jdbcType=VARCHAR}, 
			#{transportTemperatureType,jdbcType=VARCHAR}, 
			#{transportType,jdbcType=VARCHAR}, 
			#{holdingTime,jdbcType=VARCHAR}, 
			#{packOperateType,jdbcType=VARCHAR}, 
			#{materialType,jdbcType=VARCHAR}, 
			#{materialTypeName,jdbcType=VARCHAR}, 
			#{crePerson,jdbcType=VARCHAR}, 
			#{crePersonId,jdbcType=VARCHAR}, 
			#{creTime,jdbcType=TIMESTAMP}, 
			#{modPerson,jdbcType=VARCHAR}, 
			#{modPersonId,jdbcType=VARCHAR}, 
			#{modTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR}
        )
    </insert>

	<!-- 更新 -->
    <update id="update" parameterType="com.jiuyescm.bms.base.dict.entity.PubPackageDictEntity">
        update pub_package_dict
        <trim prefix="set" suffixOverrides=",">
			<if test=" packMark != null and packMark !='' ">
				pack_mark = #{packMark,jdbcType=VARCHAR},
			</if>
			<if test=" season != null and season !='' ">
				season = #{season,jdbcType=VARCHAR},
			</if>
			<if test=" transportTemperatureType != null and transportTemperatureType !='' ">
				transport_temperature_type = #{transportTemperatureType,jdbcType=VARCHAR},
			</if>
			<if test=" transportType != null and transportType !='' ">
				transport_type = #{transportType,jdbcType=VARCHAR},
			</if>
			<if test=" holdingTime != null and holdingTime !='' ">
				holding_time = #{holdingTime,jdbcType=VARCHAR},
			</if>
			<if test=" packOperateType != null and packOperateType !='' ">
				pack_operate_type = #{packOperateType,jdbcType=VARCHAR},
			</if>
			<if test=" materialType != null and materialType !='' ">
				material_type = #{materialType,jdbcType=VARCHAR},
			</if>
			<if test=" materialTypeName != null and materialTypeName !='' ">
				material_type_name = #{materialTypeName,jdbcType=VARCHAR},
			</if>
			<if test=" crePerson != null and crePerson !='' ">
				cre_person = #{crePerson,jdbcType=VARCHAR},
			</if>
			<if test=" crePersonId != null and crePersonId !='' ">
				cre_person_id = #{crePersonId,jdbcType=VARCHAR},
			</if>
			<if test=" creTime != null and creTime !='' ">
				cre_time = #{creTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" modPerson != null and modPerson !='' ">
				mod_person = #{modPerson,jdbcType=VARCHAR},
			</if>
			<if test=" modPersonId != null and modPersonId !='' ">
				mod_person_id = #{modPersonId,jdbcType=VARCHAR},
			</if>
			<if test=" modTime != null and modTime !='' ">
				mod_time = #{modTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" delFlag != null and delFlag !='' ">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
        </trim>
        where id = #{id}
    </update>

	<!-- 删除 -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from pub_package_dict 
        where id = #{id}
    </delete>
    
    <select id="queryByMarks" parameterType="java.util.List" resultType="com.jiuyescm.bms.base.dict.entity.PubPackageDictEntity">
    	select pack_mark,material_type,material_type_name from pub_package_dict
		WHERE 1=1
		and pack_mark in 
		<foreach collection="marks" index="index" item="item" open="(" separator="," close=")">
        	#{item}
    	</foreach>
    </select>
</mapper>