<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.bill.receive.BillReceiveMasterMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="create_month" property="createMonth" jdbcType="INTEGER" />
		   	<result column="invoice_name" property="invoiceName" jdbcType="VARCHAR" />
		   	<result column="invoice_id" property="invoiceId" jdbcType="VARCHAR" />
		   	<result column="bill_name" property="billName" jdbcType="VARCHAR" />
		   	<result column="task_rate" property="taskRate" jdbcType="INTEGER" />
		   	<result column="task_status" property="taskStatus" jdbcType="VARCHAR" />
		   	<result column="amount" property="amount" jdbcType="DECIMAL" />
		   	<result column="adjust_amount" property="adjustAmount" jdbcType="DECIMAL" />
		   	<result column="creator" property="creator" jdbcType="VARCHAR" />
		   	<result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
		   	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		   	<result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
		   	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
		   	<result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
		   	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		   	<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		   	<result column="bill_no" property="billNo" jdbcType="VARCHAR" />
		   	<result column="origin_file_name" property="originFileName" jdbcType="VARCHAR" />
		   	<result column="origin_file_path" property="originFilePath" jdbcType="VARCHAR" />
		   	<result column="result_file_name" property="resultFileName" jdbcType="VARCHAR" />
		   	<result column="result_file_path" property="resultFilePath" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, create_month, invoice_name, invoice_id, bill_name, task_rate, task_status, amount, adjust_amount, creator, creator_id, create_time, finish_time, last_modifier, last_modifier_id, last_modify_time, del_flag, bill_no, origin_file_name, origin_file_path, result_file_name, result_file_path
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
create_month, invoice_name, invoice_id, bill_name, task_rate, task_status, amount, adjust_amount, creator, creator_id, create_time, finish_time, last_modifier, last_modifier_id, last_modify_time, del_flag, bill_no, origin_file_name, origin_file_path, result_file_name, result_file_path
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from bill_receive_master
        where id = #{id}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
        select
        id, create_month, invoice_name, invoice_id, bill_name, task_rate, task_status, 
        IFNULL(amount,0) as amount, IFNULL(adjust_amount,0) as adjustAmount, SUM(IFNULL(amount,0)+IFNULL(adjust_amount,0)) as totalAmount, 
        creator, creator_id, create_time, finish_time, 
        last_modifier, last_modifier_id, last_modify_time, del_flag, bill_no, 
        origin_file_name, origin_file_path, result_file_name, result_file_path
        from bill_receive_master
        where 1 = 1
        	<if test=" id != null and id !='' ">
				and id = #{id}
			</if>
        	<if test=" createMonth != null and createMonth !='' " >
				and create_month = #{createMonth}
			</if>
			<if test=" createMonthStart != null and createMonthStart !='' " >
				and create_month >= #{createMonthStart}
			</if>
			<if test=" createMonthEnd != null and createMonthEnd !='' " >
				and create_month <![CDATA[<= #{createMonthEnd}]]>
			</if>
        	<if test=" invoiceName != null and invoiceName !='' ">
				and invoice_name = #{invoiceName}
			</if>
			<if test=" invoiceId != null and invoiceId !='' ">
				and invoice_id = #{invoiceId}
			</if>
        	<if test=" billName != null and billName !='' ">
				and bill_name like CONCAT('%',#{billName},'%')
			</if>
        	<if test=" taskRate != null and taskRate !='' ">
				and task_rate = #{taskRate}
			</if>
        	<if test=" taskStatus != null and taskStatus !='' ">
				and task_status = #{taskStatus}
			</if>
        	<if test=" amount != null and amount !='' ">
				and amount = #{amount}
			</if>
        	<if test=" adjustAmount != null and adjustAmount !='' ">
				and adjust_amount = #{adjustAmount}
			</if>
        	<if test=" creator != null and creator !='' ">
				and creator like CONCAT('%',#{creator},'%')
			</if>
        	<if test=" creatorId != null and creatorId !='' ">
				and creator_id = #{creatorId}
			</if>
        	<if test=" createTime != null and createTime !='' " >
				and <![CDATA[create_time >= #{createTime}]]>
			</if>
			<if test=" createEndTime != null and createEndTime !='' " >
				and <![CDATA[create_time <= #{createEndTime}]]>
			</if>
        	<if test=" delFlag != null and delFlag !='' ">
				and del_flag = #{delFlag}
			</if>
        	<if test=" billNo != null and billNo !='' ">
				and bill_no = #{billNo}
			</if>
			GROUP BY bill_no
    </select>

	<!-- 保存 -->
    <insert id="save" parameterType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
        insert into bill_receive_master(
        	<include refid="BASE_COLUMNS_WITHOUT_ID" />
    	)
        values (

			#{createMonth,jdbcType=INTEGER}, 
			#{invoiceName,jdbcType=VARCHAR}, 
			#{invoiceId,jdbcType=VARCHAR}, 
			#{billName,jdbcType=VARCHAR}, 
			#{taskRate,jdbcType=INTEGER}, 
			#{taskStatus,jdbcType=VARCHAR}, 
			#{amount,jdbcType=DECIMAL}, 
			#{adjustAmount,jdbcType=DECIMAL}, 
			#{creator,jdbcType=VARCHAR}, 
			#{creatorId,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{finishTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifierId,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR}, 
			#{billNo,jdbcType=VARCHAR}, 
			#{originFileName,jdbcType=VARCHAR}, 
			#{originFilePath,jdbcType=VARCHAR}, 
			#{resultFileName,jdbcType=VARCHAR}, 
			#{resultFilePath,jdbcType=VARCHAR}
        )
    </insert>

	<!-- 更新 -->
    <update id="update" parameterType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
        update bill_receive_master
        <trim prefix="set" suffixOverrides=",">
        	adjust_amount = #{adjustAmount,jdbcType=DECIMAL},
			<if test=" createMonth != null and createMonth !='' ">
				create_month = #{createMonth,jdbcType=INTEGER},
			</if>
			<if test=" invoiceName != null and invoiceName !='' ">
				invoice_name = #{invoiceName,jdbcType=VARCHAR},
			</if>
			<if test=" invoiceId != null and invoiceId !='' ">
				invoice_id = #{invoiceId,jdbcType=VARCHAR},
			</if>
			<if test=" billName != null and billName !='' ">
				bill_name = #{billName,jdbcType=VARCHAR},
			</if>
			<if test=" taskRate != null and taskRate !='' ">
				task_rate = #{taskRate,jdbcType=INTEGER},
			</if>
			<if test=" taskStatus != null and taskStatus !='' ">
				task_status = #{taskStatus,jdbcType=VARCHAR},
			</if>
			<if test=" amount != null and amount !='' ">
				amount = #{amount,jdbcType=DECIMAL},
			</if>
			<if test=" creator != null and creator !='' ">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test=" creatorId != null and creatorId !='' ">
				creator_id = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test=" createTime != null and createTime !='' ">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" finishTime != null and finishTime !='' ">
				finish_time = #{finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" lastModifier != null and lastModifier !='' ">
				last_modifier = #{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifierId != null and lastModifierId !='' ">
				last_modifier_id = #{lastModifierId,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifyTime != null and lastModifyTime !='' ">
				last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" delFlag != null and delFlag !='' ">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
			<if test=" billNo != null and billNo !='' ">
				bill_no = #{billNo,jdbcType=VARCHAR},
			</if>
			<if test=" originFileName != null and originFileName !='' ">
				origin_file_name = #{originFileName,jdbcType=VARCHAR},
			</if>
			<if test=" originFilePath != null and originFilePath !='' ">
				origin_file_path = #{originFilePath,jdbcType=VARCHAR},
			</if>
			<if test=" resultFileName != null and resultFileName !='' ">
				result_file_name = #{resultFileName,jdbcType=VARCHAR},
			</if>
			<if test=" resultFilePath != null and resultFilePath !='' ">
				result_file_path = #{resultFilePath,jdbcType=VARCHAR},
			</if>
        </trim>
        where bill_no = #{billNo}
    </update>

	<!-- 删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from bill_receive_master 
        where bill_no = #{billNo}
    </delete>
</mapper>