<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.bill.receive.BillReceiveMasterMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="create_month" property="createMonth" jdbcType="INTEGER" />
		   	<result column="invoice_name" property="invoiceName" jdbcType="VARCHAR" />
		   	<result column="invoice_id" property="invoiceId" jdbcType="VARCHAR" />
		   	<result column="bill_name" property="billName" jdbcType="VARCHAR" />
		   	<result column="task_rate" property="taskRate" jdbcType="INTEGER" />
		   	<result column="task_status" property="taskStatus" jdbcType="VARCHAR" />
		   	<result column="amount" property="amount" jdbcType="DECIMAL" />
		   	<result column="adjust_amount" property="adjustAmount" jdbcType="DECIMAL" />
		   	<result column="creator" property="creator" jdbcType="VARCHAR" />
		   	<result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
		   	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		   	<result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
		   	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
		   	<result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
		   	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		   	<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		   	<result column="bill_no" property="billNo" jdbcType="VARCHAR" />
		   	<result column="origin_file_name" property="originFileName" jdbcType="VARCHAR" />
		   	<result column="origin_file_path" property="originFilePath" jdbcType="VARCHAR" />
		   	<result column="result_file_name" property="resultFileName" jdbcType="VARCHAR" />
		   	<result column="result_file_path" property="resultFilePath" jdbcType="VARCHAR" />
		   	<result column="remark" property="remark" jdbcType="VARCHAR" />
		   	<result column="expect_status" property="expectStatus" jdbcType="VARCHAR" />
		   	<result column="different_remark" property="differentRemark" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, create_month, invoice_name, invoice_id, bill_name, task_rate, task_status, amount, adjust_amount, creator, creator_id, create_time, finish_time, last_modifier, last_modifier_id, last_modify_time, del_flag, bill_no, origin_file_name, origin_file_path, result_file_name, result_file_path, remark,expect_status,different_remark
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
create_month, invoice_name, invoice_id, bill_name, task_rate, task_status, amount, adjust_amount, creator, creator_id, create_time, finish_time, last_modifier, last_modifier_id, last_modify_time, del_flag, bill_no, origin_file_name, origin_file_path, result_file_name, result_file_path, remark,expect_status,different_remark
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from bill_receive_master
        where id = #{id}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
       select
        a.id, a.create_month, a.invoice_name, a.invoice_id, a.bill_name, a.task_rate, a.task_status, 
        IFNULL(a.amount,0) as amount, IFNULL(a.adjust_amount,0) as adjustAmount, SUM(IFNULL(a.amount,0)+IFNULL(a.adjust_amount,0)) as totalAmount, 
        a.creator, a.creator_id, a.create_time, a.finish_time, 
        a.last_modifier, a.last_modifier_id, a.last_modify_time, a.del_flag, a.bill_no, 
        a.origin_file_name, a.origin_file_path, a.result_file_name, a.result_file_path, a.remark,a.different_remark,b.expect_money,
        IF(b.expect_money is null,0,1) as expect_status
        from bill_receive_master a
		LEFT JOIN bill_receive_expect b on a.create_month=b.create_month and a.bill_name=b.bill_name and b.del_flag='0'
        where 1 = 1 and a.del_flag='0'
        	<if test=" id != null and id !='' ">
				and a.id = #{id}
			</if>
        	<if test=" createMonth != null and createMonth !='' " >
				and a.create_month = #{createMonth}
			</if>
			<if test=" createMonthStart != null and createMonthStart !='' " >
				and a.create_month >= #{createMonthStart}
			</if>
			<if test=" createMonthEnd != null and createMonthEnd !='' " >
				and a.create_month <![CDATA[<= #{createMonthEnd}]]>
			</if>
        	<if test=" invoiceName != null and invoiceName !='' ">
				and a.invoice_name = #{invoiceName}
			</if>
			<if test=" invoiceId != null and invoiceId !='' ">
				and a.invoice_id = #{invoiceId}
			</if>
        	<if test=" billName != null and billName !='' ">
				and a.bill_name like CONCAT('%',#{billName},'%')
			</if>
        	<if test=" taskRate != null and taskRate !='' ">
				and a.task_rate = #{taskRate}
			</if>
        	<if test=" taskStatus != null and taskStatus !='' ">
				and a.task_status = #{taskStatus}
			</if>
        	<if test=" amount != null and amount !='' ">
				and a.amount = #{amount}
			</if>
        	<if test=" adjustAmount != null and adjustAmount !='' ">
				and a.adjust_amount = #{adjustAmount}
			</if>
        	<if test=" creator != null and creator !='' ">
				and a.creator like CONCAT('%',#{creator},'%')
			</if>
        	<if test=" creatorId != null and creatorId !='' ">
				and a.creator_id = #{creatorId}
			</if>
        	<if test=" createTime != null and createTime !='' " >
				and <![CDATA[a.create_time >= #{createTime}]]>
			</if>
			<if test=" createEndTime != null and createEndTime !='' " >
				and <![CDATA[a.create_time <= #{createEndTime}]]>
			</if>
        	<if test=" delFlag != null and delFlag !='' ">
				and a.del_flag = #{delFlag}
			</if>
			<if test=" remark != null and remark !='' ">
				and a.remark = #{remark}
			</if>
        	<if test=" billNo != null and billNo !='' ">
				and a.bill_no = #{billNo}
			</if>
			GROUP BY a.bill_no
    </select>

	<!-- 保存 -->
    <insert id="save" parameterType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
        insert into bill_receive_master(
        	<include refid="BASE_COLUMNS_WITHOUT_ID" />
    	)
        values (

			#{createMonth,jdbcType=INTEGER}, 
			#{invoiceName,jdbcType=VARCHAR}, 
			#{invoiceId,jdbcType=VARCHAR}, 
			#{billName,jdbcType=VARCHAR}, 
			#{taskRate,jdbcType=INTEGER}, 
			#{taskStatus,jdbcType=VARCHAR}, 
			#{amount,jdbcType=DECIMAL}, 
			#{adjustAmount,jdbcType=DECIMAL}, 
			#{creator,jdbcType=VARCHAR}, 
			#{creatorId,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{finishTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifierId,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR}, 
			#{billNo,jdbcType=VARCHAR}, 
			#{originFileName,jdbcType=VARCHAR}, 
			#{originFilePath,jdbcType=VARCHAR}, 
			#{resultFileName,jdbcType=VARCHAR}, 
			#{resultFilePath,jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR},
			#{expectStatus,jdbcType=VARCHAR},
			#{differentRemark,jdbcType=VARCHAR}
        )
    </insert>

	<!-- 更新 -->
    <update id="update" parameterType="com.jiuyescm.bms.bill.receive.entity.BillReceiveMasterEntity">
        update bill_receive_master
        <trim prefix="set" suffixOverrides=",">
        	<if test=" adjustAmount != null and adjustAmount !='' ">
        	    adjust_amount = #{adjustAmount,jdbcType=DECIMAL},        	
        	</if>
			<if test=" createMonth != null and createMonth !='' ">
				create_month = #{createMonth,jdbcType=INTEGER},
			</if>
			<if test=" invoiceName != null and invoiceName !='' ">
				invoice_name = #{invoiceName,jdbcType=VARCHAR},
			</if>
			<if test=" invoiceId != null and invoiceId !='' ">
				invoice_id = #{invoiceId,jdbcType=VARCHAR},
			</if>
			<if test=" billName != null and billName !='' ">
				bill_name = #{billName,jdbcType=VARCHAR},
			</if>
			<if test=" taskRate != null and taskRate !='' ">
				task_rate = #{taskRate,jdbcType=INTEGER},
			</if>
			<if test=" taskStatus != null and taskStatus !='' ">
				task_status = #{taskStatus,jdbcType=VARCHAR},
			</if>
			<if test=" amount != null and amount !='' ">
				amount = #{amount,jdbcType=DECIMAL},
			</if>
			<if test=" creator != null and creator !='' ">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test=" creatorId != null and creatorId !='' ">
				creator_id = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test=" createTime != null and createTime !='' ">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" finishTime != null and finishTime !='' ">
				finish_time = #{finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" lastModifier != null and lastModifier !='' ">
				last_modifier = #{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifierId != null and lastModifierId !='' ">
				last_modifier_id = #{lastModifierId,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifyTime != null and lastModifyTime !='' ">
				last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" delFlag != null and delFlag !='' ">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
			<if test=" billNo != null and billNo !='' ">
				bill_no = #{billNo,jdbcType=VARCHAR},
			</if>
			<if test=" originFileName != null and originFileName !='' ">
				origin_file_name = #{originFileName,jdbcType=VARCHAR},
			</if>
			<if test=" originFilePath != null and originFilePath !='' ">
				origin_file_path = #{originFilePath,jdbcType=VARCHAR},
			</if>
			<if test=" resultFileName != null and resultFileName !='' ">
				result_file_name = #{resultFileName,jdbcType=VARCHAR},
			</if>
			<if test=" resultFilePath != null and resultFilePath !='' ">
				result_file_path = #{resultFilePath,jdbcType=VARCHAR},
			</if>
			<if test=" remark != null and remark !='' ">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test=" expectStatus != null and expectStatus !='' ">
				expect_status = #{expectStatus,jdbcType=VARCHAR},
			</if>
			<if test=" differentRemark != null and differentRemark !='' ">
				different_remark = #{differentRemark,jdbcType=VARCHAR},
			</if>
        </trim>
        where bill_no = #{billNo}
    </update>

	<!-- 删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from bill_receive_master 
        where bill_no = #{billNo}
    </delete>
    
    <insert id="saveExpect" parameterType="com.jiuyescm.bms.billcheck.BillReceiveExpectEntity">
		insert into bill_receive_expect(
			create_month, bill_name, expect_money, expect_storage_money, expect_dispatch_money, expect_transport_money, expect_air_money, creator, create_time, del_flag
    	)
        values (
			#{createMonth,jdbcType=INTEGER}, 
			#{billName,jdbcType=VARCHAR}, 
			#{expectMoney,jdbcType=DECIMAL}, 
			#{expectStorageMoney,jdbcType=DECIMAL}, 
			#{expectDispatchMoney,jdbcType=DECIMAL}, 
			#{expectTransportMoney,jdbcType=DECIMAL}, 
			#{expectAirMoney,jdbcType=DECIMAL}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="queryExpect" parameterType="com.jiuyescm.bms.billcheck.BillReceiveExpectEntity">
    	 select
        <include refid="BASE_COLUMNS_ALL" />
        from bill_receive_expect
        where 1 = 1
        	<if test=" id != null and id !='' ">
				and id = #{id}
			</if>
        	<if test=" createMonth != null and createMonth !='' ">
				and create_month = #{createMonth}
			</if>
        	<if test=" billName != null and billName !='' ">
				and bill_name = #{billName}
			</if>
        	<if test=" expectMoney != null and expectMoney !='' ">
				and expect_money = #{expectMoney}
			</if>
        	<if test=" expectStorageMoney != null and expectStorageMoney !='' ">
				and expect_storage_money = #{expectStorageMoney}
			</if>
        	<if test=" expectDispatchMoney != null and expectDispatchMoney !='' ">
				and expect_dispatch_money = #{expectDispatchMoney}
			</if>
        	<if test=" expectTransportMoney != null and expectTransportMoney !='' ">
				and expect_transport_money = #{expectTransportMoney}
			</if>
        	<if test=" expectAirMoney != null and expectAirMoney !='' ">
				and expect_air_money = #{expectAirMoney}
			</if>
        	<if test=" creator != null and creator !='' ">
				and creator = #{creator}
			</if>
        	<if test=" createTime != null and createTime !='' ">
				and create_time = #{createTime}
			</if>
			and del_flag ='0'
    </select>
    
    <select id="getAbnormalMoney" parameterType="String" resultType="java.lang.Double">
		select SUM(IFNULL(a.amount,0)) as amount from (
		select SUM(IFNULL(amount,0)) as amount from bill_fees_receive_dispatch where bill_no=#{billNo} and subject_code='de_abnormal_pay'
		UNION ALL
		select SUM(IFNULL(amount,0)) as amount from bill_fees_receive_dispatch where bill_no=#{billNo} and subject_code='de_change'
		UNION ALL
		select SUM(IFNULL(amount,0)) as amount from bill_fees_receive_storage where bill_no=#{billNo} and subject_code='wh_abnormal_pay'
		UNION ALL
		select SUM(IFNULL(amount,0)) as amount from bill_fees_receive_transport where bill_no=#{billNo} and subject_code='YS_PF'
		UNION ALL
		select SUM(IFNULL(amount,0)) as amount from bill_fees_receive_air where bill_no=#{billNo} and subject_code='at_abnormal_pay') a
    </select>
</mapper>