<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.report.month.ReportWarehouseProfitEntityMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.report.month.entity.ReportWarehouseProfitEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="fees_type" property="feesType" jdbcType="BIT" />
	    <result column="amount_01" property="amount01" jdbcType="DECIMAL" />
	    <result column="amount_02" property="amount02" jdbcType="DECIMAL" />
	    <result column="amount_03" property="amount03" jdbcType="DECIMAL" />
	    <result column="amount_04" property="amount04" jdbcType="DECIMAL" />
	    <result column="amount_05" property="amount05" jdbcType="DECIMAL" />
	    <result column="amount_06" property="amount06" jdbcType="DECIMAL" />
	    <result column="amount_07" property="amount07" jdbcType="DECIMAL" />
	    <result column="amount_08" property="amount08" jdbcType="DECIMAL" />
	    <result column="amount_09" property="amount09" jdbcType="DECIMAL" />
	    <result column="amount_10" property="amount10" jdbcType="DECIMAL" />
	    <result column="amount_11" property="amount11" jdbcType="DECIMAL" />
	    <result column="amount_12" property="amount12" jdbcType="DECIMAL" />
	    <result column="amount_sum" property="amountSum" jdbcType="DECIMAL" />
	    <result column="report_year" property="reportYear" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
  
    <sql id="baseColumns">
        warehouse_code, warehouse_name, fees_type,ROUND(ifnull(amount_01,0),2) amount_01, ROUND(ifnull(amount_02,0),2) amount_02, ROUND(ifnull(amount_03,0),2) amount_03, 
        ROUND(ifnull(amount_04,0),2) amount_04, ROUND(ifnull(amount_05,0),2) amount_05, ROUND(ifnull(amount_06,0),2) amount_06, ROUND(ifnull(amount_07,0),2) amount_07,
        ROUND(ifnull(amount_08,0),2) amount_08, ROUND(ifnull(amount_09,0),2) amount_09, ROUND(ifnull(amount_10,0),2) amount_10, ROUND(ifnull(amount_11,0),2) amount_11,
        ROUND(ifnull(amount_12,0),2) amount_12, ROUND(ifnull(amount_sum,0),2) amount_sum, report_year, create_time, modify_time
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and warehouse_code = #{warehouseCode}
		</if>
		<if test="(reportYear != null and reportYear !='')" >
				and report_year = #{reportYear}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.report.month.entity.ReportWarehouseProfitEntity">
        select
        <include refid="baseColumns" />
        from report_warehouse_profit
        where 1=1
		<include refid="baseSelectColumns" />
		order by warehouse_code
    </select>
    
</mapper>