<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.receivable.storage.BizOutstockPackmeterialMapper" >
    <resultMap id="bizOutstockMeterialMap" type="com.jiuyescm.bms.biz.storage.entity.BizOutstockPackmaterialEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="wms_id" property="wmsId" jdbcType="VARCHAR" />
	    <result column="outstock_no" property="outstockNo" jdbcType="VARCHAR" />
	    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="consumer_material_code" property="consumerMaterialCode" jdbcType="VARCHAR" />
	    <result column="consumer_material_name" property="consumerMaterialName" jdbcType="VARCHAR" />
	    <result column="num" property="num" jdbcType="DOUBLE" />
	    <result column="adjust_num" property="adjustNum" jdbcType="DOUBLE" />
	    <result column="fees_no" property="feesNo" jdbcType="VARCHAR" />
	    <result column="dbname" property="dbname" jdbcType="VARCHAR" />
	    <result column="is_calculated" property="isCalculated" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="spec_desc" property="specDesc" jdbcType="VARCHAR" />
	    <result column="extattr1" property="extattr1" jdbcType="VARCHAR" />
	    <result column="extattr2" property="extattr2" jdbcType="VARCHAR" />
	    <result column="extattr3" property="extattr3" jdbcType="VARCHAR" />
	    <result column="cost_calculate_time" property="costCalculateTime" jdbcType="TIMESTAMP" />
	    <result column="cost_is_calculated" property="costIsCalculated" jdbcType="VARCHAR" />
	    <result column="cost_fees_no" property="costFeesNo" jdbcType="VARCHAR" />
    </resultMap>
  
    <select id="querybizOutstockMeterial" parameterType="java.util.Map" resultMap="bizOutstockMeterialMap">
        select 
        id, wms_id, outstock_no, waybill_no, customer_id, customer_name, consumer_material_code, 
        consumer_material_name, IFNULL(num,0) as num, IFNULL(adjust_num,0) as adjust_num, fees_no, dbname, is_calculated, 
        creator, create_time, last_modifier, last_modify_time, del_flag,warehouse_code,warehouse_name,IFNULL(weight,0) as weight,spec_desc, extattr1, extattr2, extattr3, extattr4, extattr5,
        cost_calculate_time,cost_is_calculated,cost_fees_no
        from biz_outstock_packmaterial
        where del_flag = 0 
		<if test="(customerId != null and customerId !='')" >
			and customer_id = #{customerId,jdbcType=VARCHAR}
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
			and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
		</if>
		<if test="(id != null and id !='')" >
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
			and is_calculated =concat(${isCalculated})
		</if>
		<if test="(beginTime != null and beginTime !='')" >
			 and  <![CDATA[create_time >= #{beginTime}]]>
		</if>
		<if test="(endTime != null and endTime !='')" >
			 and  <![CDATA[create_time <= #{endTime}]]>
		</if>
		LIMIT #{num}
    </select>
	 <select id="querybizOutstockMeterialCost" parameterType="java.util.Map" resultMap="bizOutstockMeterialMap">
	        select 
	        id, wms_id, outstock_no, waybill_no, customer_id, customer_name, consumer_material_code, 
	        consumer_material_name, IFNULL(num,0) as num, IFNULL(adjust_num,0) as adjust_num, fees_no, dbname, is_calculated, 
	        creator, create_time, last_modifier, last_modify_time, del_flag,warehouse_code,warehouse_name,IFNULL(weight,0) as weight,spec_desc, extattr1, extattr2, extattr3, extattr4,
	         extattr5, cost_calculate_time,cost_is_calculated,cost_fees_no
	        from biz_outstock_packmaterial
	        where del_flag = 0 
	      	<if test="startTime!=null">
	      		and <![CDATA[create_time>=#{startTime}]]>
	      	</if>
	      	<if test="endTime!=null">
	      		and <![CDATA[create_time<#{endTime}]]>
	      	</if>
			<if test="(isCalculated != null and isCalculated !='')" >
				and  cost_is_calculated =concat(${isCalculated})
			</if>
			<if test="(id != null and id !='')" >
				and id = #{id,jdbcType=BIGINT}
			</if>
			LIMIT #{num}
	</select>
  

    <update id="updatebizOutstockMeterial" parameterType="java.util.Map">  
    	update biz_outstock_packmaterial
	    <trim prefix="set" suffixOverrides=",">
	        <trim prefix="is_calculated =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.isCalculated != null" >
                      when id=#{biz.id} then #{biz.isCalculated}
                    </if>
                </foreach>
            </trim>
    	    <trim prefix="fees_no =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                     <if test="biz.feesNo!= null" >
                       when id=#{biz.id} then #{biz.feesNo}
                     </if>
                </foreach>
            </trim>
             <trim prefix="remark =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.remark != null" >
                      when id=#{biz.id} then #{biz.remark}
                    </if>
                </foreach>
            </trim>
             <trim prefix="calculate_time =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.calculateTime != null" >
                      when id=#{biz.id} then #{biz.calculateTime}
                    </if>
                </foreach>
            </trim>         
            <trim prefix="cost_calculate_time =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.costCalculateTime != null" >
                      when id=#{biz.id} then #{biz.costCalculateTime}
                    </if>
                </foreach>
            </trim>
             <trim prefix="cost_is_calculated =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.costIsCalculated != null" >
                      when id=#{biz.id} then #{biz.costIsCalculated}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cost_fees_no =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.costFeesNo != null" >
                      when id=#{biz.id} then #{biz.costFeesNo}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cost_remark =case" suffix="end,">
                <foreach collection="list" item="biz" index="index">
                    <if test="biz.costRemark != null" >
                      when id=#{biz.id} then #{biz.costRemark}
                      
                    </if>
                </foreach>
            </trim>
    	</trim>
	    where id in
        <foreach collection="list" index="index" item="biz" separator="," open="(" close=")">
            #{biz.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>