<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.base.group.mapper.BmsGroupCustomerMapper" >
	<resultMap type="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity" id="baseResultMap">
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="group_id" property="groupId" jdbcType="INTEGER" />
	    <result column="customerid" property="customerid" jdbcType="VARCHAR" />
	    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryAllByGroupId" resultMap="baseResultMap" parameterType="int">
		select id, group_id, customerid, sort_no, creator, create_time, last_modifier, last_modify_time, del_flag
		from bms_group_customer where group_id=#{groupId} and ifnull(del_flag,'0')='0'
	</select>
	
	<select id="queryCustomerByGroupId" resultType="String" parameterType="int">
		select customerid from bms_group_customer where group_id=#{groupId} and ifnull(del_flag,'0')='0'
	</select>
		
	<select id="queryGroupSubject" parameterType="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity" resultType="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity">
		select id, group_id, customerid, sort_no, creator, create_time, last_modifier, last_modify_time, del_flag
		from bms_group_customer
		where 1=1 and ifnull(del_flag,'0')='0'
		<if test="(groupIds!=null and groupIds.size()>0)">
			and group_id in
			<foreach collection="groupIds" index="index" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="(groupId != null and groupId !='')" >
				and group_id = #{groupId}
		</if>
	</select>
	<insert id="insertEntity" parameterType="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity">
	    insert into bms_group_customer(group_id, customerid, sort_no, creator, create_time, last_modifier, last_modify_time, del_flag)
        values (
		#{groupId,jdbcType=INTEGER}, 
		#{customerid,jdbcType=VARCHAR}, 
		#{sortNo,jdbcType=INTEGER}, 
		#{creator,jdbcType=VARCHAR}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{lastModifier,jdbcType=VARCHAR}, 
		#{lastModifyTime,jdbcType=TIMESTAMP}, 
		#{delFlag,jdbcType=VARCHAR}
        )
     </insert>
	<update id="deleteEntity" parameterType="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity">
		update bms_group_customer set del_flag='1',last_modifier=#{lastModifier},last_modify_time=#{lastModifyTime}
		where id=#{id}
	</update>
	<select id="checkSubjectCodeExist" parameterType="java.util.Map" resultType="String">
		select customerid from bms_group_customer where group_id=#{groupId} and ifnull(del_flag,'0')='0' and
		customerid in
		<foreach collection="customerIdList" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		
	</select>
	<select id="querySubjectCountByGroupId" parameterType="int" resultType="int">
		select count(*) as num from bms_group_customer where group_id=#{groupId} and ifnull(del_flag,'0')='0'
	</select>
	
	<update id="update" parameterType="com.jiuyescm.bms.base.group.BmsGroupCustomerEntity">
        update bms_group_customer 
		<set >
			<if test="groupId != null" >group_id=#{groupId,jdbcType=INTEGER},</if>
			<if test="customerid != null" >customerid=#{customerid,jdbcType=VARCHAR},</if>
			<if test="sortNo != null" >sort_no=#{sortNo,jdbcType=INTEGER},</if>
			<if test="creator != null" >creator=#{creator,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
		</set>
        where id=#{id}
    </update>
</mapper>