<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.base.group.mapper.BmsGroupUserMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.base.group.BmsGroupUserEntity" >
    	<id column="id" property="id" jdbcType="BIGINT" />
    	<result column="id" property="id" jdbcType="BIGINT" />
    	<result column="group_id" property="groupId" jdbcType="BIGINT" />
    	<result column="group_name" property="groupName" jdbcType="VARCHAR" />
    	<result column="user_id" property="userId" jdbcType="VARCHAR" />
    	<result column="user_name" property="userName" jdbcType="VARCHAR" />
    	<result column="administrator" property="administrator" jdbcType="VARCHAR" />
    	<result column="creator" property="creator" jdbcType="VARCHAR" />
    	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
    	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="queryAll" resultMap="baseResultMap">
		select id,group_id,user_id,user_name,administrator,creator,create_time,last_modifier,last_modify_time
		from bms_group_user
	</select>
	<select id="queryUserGroupName" parameterType="java.lang.String" resultType="java.lang.String">
		select b.group_name from bms_group_user a
		inner join bms_group b
		on a.group_id=b.id
		where a.user_id=#{userId} limit 1
	</select>
	<select id="checkUserGroupName" parameterType="java.util.Map" resultType="java.lang.String">
		select b.group_name from bms_group_user a
		inner join bms_group b
		on a.group_id=b.id
		where a.user_id=#{userId} and b.biz_type=#{bizType} limit 1
	</select>
	
	<select id="checkSaleUser" parameterType="java.util.Map" resultType="java.lang.String">
		select area_code from bms_group_user
		where del_flag='0' and user_id=#{userId} limit 1
	</select>
	
	<select id="checkSaleUserIgnoreId" parameterType="java.util.Map" resultType="java.lang.String">
		select area_code as areaCode from bms_group_user
		where del_flag='0' 
		and user_id=#{userId}
		and id != #{id}
		limit 1
	</select>
	
	<select id="queryUserCountByGroupId" parameterType="int" resultType="int">
		select count(*) from bms_group_user where group_id=#{groupId}
	</select>
	<select id="queryEntityByUserId" parameterType="java.lang.String" resultMap="baseResultMap">
		select id,group_id,user_id,user_name,administrator,
			creator,create_time,last_modifier,last_modify_time
		from  bms_group_user where user_id=#{userId} limit 1
	</select>
	<select id="queryAllByGroupId" parameterType="java.util.Map" resultMap="baseResultMap">
		select id,group_id,user_id,user_name,administrator,
			creator,create_time,last_modifier,last_modify_time
		from  bms_group_user where group_id in
		<foreach collection="groupIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="query" parameterType="java.util.Map" resultMap="baseResultMap">
		select a.id,a.group_id,a.user_id,a.user_name,a.administrator,
		a.creator,a.create_time,a.last_modifier,a.last_modify_time,b.group_name
		from bms_group_user a
		left join bms_group b on a.group_id=b.id
		where 1=1
		<if test="(groupId!=null and groupId!='')">
			and group_id=#{groupId}
		</if>
		<if test="(userId!=null and userId!='')">
			and user_id=#{userId}
		</if>
		<if test="(userName!=null and userName!='')">
			and user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="bizType != null and bizType != ''">
			and b.biz_type = #{bizType}
		</if>
	</select>
	
	<insert id="addGroupUser" parameterType="com.jiuyescm.bms.base.group.BmsGroupEntity">
		insert into bms_group_user
		(group_id,user_id,user_name,administrator,creator,create_time,last_modifier,last_modify_time,area_code,del_flag)
		values
		(#{groupId},#{userId},#{userName},#{administrator},#{creator},#{createTime},#{lastModifier},#{lastModifyTime},#{areaCode},#{delFlag})
	</insert>
	
	<update id="updateGroupUser" parameterType="com.jiuyescm.bms.base.group.BmsGroupEntity">
		update bms_group_user
		<set>
			<if test="(groupId!=null and groupId!='')">group_id=#{groupId},</if>
			<if test="(userId!=null and userId!='')">user_id=#{userId},</if>
			<if test="(userName!=null and userName!='')">user_name=#{userName},</if>
			<if test="(areaCode!=null and areaCode!='')">area_code=#{areaCode},</if>
			<if test="(administrator!=null and administrator!='')">administrator=#{administrator},</if>
			<if test="(creator!=null and creator!='')">creator=#{creator},</if>
			<if test="(createTime!=null and createTime!='')">create_time=#{createTime},</if>
			<if test="(lastModifier!=null and lastModifier!='')">last_modifier=#{lastModifier},</if>
			<if test="(lastModifyTime!=null and lastModifyTime!='')">last_modify_time=#{lastModifyTime},</if>
			<if test="(delFlag!=null and delFlag!='')">del_flag=#{delFlag},</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteGroupUser" parameterType="int">
		delete from bms_group_user where id=#{id}
	</delete>
	
	<select id="queryAreaGroupId" parameterType="java.util.Map" resultType="com.jiuyescm.bms.base.group.BmsGroupUserEntity">
		SELECT T2.id as id, T2.group_code as groupCode, T2.group_name as groupName
			FROM (
			    SELECT
			        @r AS _id,
			        (SELECT @r := parent_id FROM bms_group WHERE id = _id) AS parent_id,
			        @l := @l + 1 AS level
			    FROM
			        (SELECT @r := #{id}, @l := 0) vars,
			        bms_group h
			    WHERE @r &lt;&gt; 0) T1
			JOIN bms_group T2 ON T1._id = T2.id 

			JOIN bms_group T3 ON t3.id = T2.parent_id
     	where T3.parent_id = 0
	</select>
	
	<!-- 
	<select id="queryGroupNameByUserId" parameterType="java.lang.String" resultType="com.jiuyescm.bms.base.group.BmsGroupEntity">	
		select b.group_code,b.group_name,a.area_code from bms_group_user a
		left join bms_group b on a.area_group_id = b.id
		where a.user_id = #{userId} limit 1
	</select>
	 -->
	<select id="queryUserByBizType" parameterType="java.util.Map" resultType="com.jiuyescm.bms.base.group.BmsGroupUserEntity">	
		select u.* from bms_group_user u
		LEFT JOIN bms_group g on g.id=u.group_id
		WHERE g.biz_type=#{bizType} and u.del_flag='0'
	</select>
	
	<select id="queryGroupUser" parameterType="java.util.Map" resultType="com.jiuyescm.bms.base.group.BmsGroupUserEntity">
		select id,group_id,user_id,user_name,area_code,
		creator,create_time,last_modifier,last_modify_time,del_flag
		from bms_group_user
		where 1=1
		<if test="(userId!=null and userId!='')">
			and user_id=#{userId}
		</if>
		<if test="(userName!=null and userName!='')">
			and user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="(delFlag!=null and delFlag!='')">
			and del_flag=#{delFlag}
		</if>
	</select>
	
	<select id="querySaleUser" parameterType="java.util.Map" resultType="com.jiuyescm.bms.base.group.BmsGroupUserEntity">
		select id,group_id,user_id,user_name,area_code,
		creator,create_time,last_modifier,last_modify_time,del_flag
		from bms_group_user
		WHERE 1=1
			and group_id in (select id from bms_group WHERE biz_type='sale_area')
		<if test="(userId != null and userId != '')">
			and user_id=#{userId}
		</if>
		<if test="(userName != null and userName != '')">
			and user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="(delFlag != null and delFlag != '' and delFlag !='ALL')">
			and del_flag=#{delFlag}
		</if>
	</select>
	
</mapper>