<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.billcheck.BillAccountInMapper">
	<resultMap id="baseResultMap"
		type="com.jiuyescm.bms.billcheck.BillAccountInEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
		<result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
		<result column="trade_descrip" property="tradeDescrip"
			jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
		<result column="confirm_status" property="confirmStatus"
			jdbcType="VARCHAR" />
		<result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_modifier_id" property="lastModifierId"
			jdbcType="VARCHAR" />
		<result column="last_modifier" property="lastModifier"
			jdbcType="VARCHAR" />
		<result column="last_modify_time" property="lastModifyTime"
			jdbcType="TIMESTAMP" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="baseColumns">
		id, customer_id, customer_name, trade_type, trade_descrip, amount,
		confirm_time, confirm_status, creator_id, creator, create_time,
		last_modifier_id, last_modifier, last_modify_time, del_flag, remark
	</sql>

	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')">
			and id = #{id}
		</if>
		<if test="(customerId != null and customerId !='')">
			and customer_id = #{customerId}
		</if>
		<if test="(customerName != null and customerName !='')">
			and customer_name like concat('%',#{customerName},'%')
		</if>
	</sql>

	<select id="query" parameterType="java.util.Map"
		resultType="com.jiuyescm.bms.billcheck.BillAccountInEntity">
		select
		<include refid="baseColumns" />
		from bill_account_in
		where del_flag = '0'
		<include refid="baseSelectColumns" />
	</select>

	<select id="findById" resultType="com.jiuyescm.bms.billcheck.BillAccountInEntity">
		select
		<include refid="baseColumns" />
		from bill_account_in
		where id=#{id}
	</select>

	<insert id="save" parameterType="com.jiuyescm.bms.billcheck.BillAccountInEntity">
		insert into bill_account_in(customer_id, customer_name, trade_type,
		trade_descrip, amount, confirm_time, confirm_status, creator_id,
		creator, create_time, last_modifier_id, last_modifier,
		last_modify_time, del_flag, remark)
		values (

		#{customerId,jdbcType=VARCHAR},
		#{customerName,jdbcType=VARCHAR},
		#{tradeType,jdbcType=VARCHAR},
		#{tradeDescrip,jdbcType=VARCHAR},
		#{amount,jdbcType=DECIMAL},
		#{confirmTime,jdbcType=TIMESTAMP},
		#{confirmStatus,jdbcType=VARCHAR},
		#{creatorId,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{lastModifierId,jdbcType=VARCHAR},
		#{lastModifier,jdbcType=VARCHAR},
		#{lastModifyTime,jdbcType=TIMESTAMP},
		#{delFlag,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.jiuyescm.bms.billcheck.BillAccountInEntity">
		update bill_account_in
		<set>

			<if test="customerId != null">customer_id=#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">customer_name=#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="tradeType != null">trade_type=#{tradeType,jdbcType=VARCHAR},
			</if>
			<if test="tradeDescrip != null">trade_descrip=#{tradeDescrip,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">amount=#{amount,jdbcType=DECIMAL},</if>
			<if test="confirmTime != null">confirm_time=#{confirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmStatus != null">confirm_status=#{confirmStatus,jdbcType=VARCHAR},
			</if>
			<if test="creatorId != null">creator_id=#{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">creator=#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifierId != null">last_modifier_id=#{lastModifierId,jdbcType=VARCHAR},
			</if>
			<if test="lastModifier != null">last_modifier=#{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyTime != null">last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="delFlag != null">del_flag=#{delFlag,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from bill_account_in where
		id=#{id}
	</delete>
</mapper>