<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.report.biz.mapper.ReportCustomerMapper" >
				     
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.report.biz.entity.ReportCustomerInOutEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="create_year" property="createYear" jdbcType="INTEGER" />
	    <result column="create_month" property="createMonth" jdbcType="INTEGER" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
	    <result column="mk_invoice_name" property="mkInvoiceName" jdbcType="VARCHAR" />
	    <result column="last_month_storage" property="lastMonthStorage" jdbcType="INTEGER" />
	    <result column="cur_month_storage" property="curMonthStorage" jdbcType="INTEGER" />
	    <result column="min_in_time" property="minInTime" jdbcType="VARCHAR" />
	    <result column="max_out_time" property="maxOutTime" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="queryIn" parameterType="java.util.Map" resultMap="baseResultMap">
 		select a.create_year,a.create_month,a.customer_id,a.min_in_time,b.customer_name,b.short_name ,c.mk_invoice_name
		from report_customer_in_out a
		left join pub_customer b on a.customer_id = b.customer_id
		left join pub_customer_base c on c.mk_id = b.mk_id
 		where 1=1 
 		and create_year =#{createYear} and create_month =#{createMonth} and last_month_storage = 0 and cur_month_storage = 1
    </select>
    
       
    <select id="queryOut" parameterType="java.util.Map" resultMap="baseResultMap">
       select a.create_year,a.create_month,a.customer_id,a.max_out_time,b.customer_name,b.short_name ,c.mk_invoice_name
		from report_customer_in_out a
		left join pub_customer b on a.customer_id = b.customer_id
		left join pub_customer_base c on c.mk_id = b.mk_id
       where create_year =#{createYear} and create_month =#{createMonth} and last_month_storage = 1 and cur_month_storage = 0
    </select>
    
</mapper>