<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		<dubbo:application name="bms-site" />
		
 		<dubbo:registry protocol="zookeeper" address="${legacy.dubbo.registry}"/>
		<dubbo:registry protocol="zookeeper" address="${legacy.dubbo.registry}" id = "bms"/>
		<dubbo:registry protocol="zookeeper" address="${legacy.dubbo.registry}" id = "iaccount"/>
		<dubbo:registry protocol="zookeeper" address="${dubbo.registry}" id = "message"/>
	
		<dubbo:consumer version="1.0.0" timeout="1200000" retries="0" cluster="failfast" />
		
		<dubbo:reference interface="com.jiuyescm.mdm.warehouse.api.IWarehouseService"
				version="1.0.0" id="warehouseService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.carrier.api.ICarrierService"
				version="1.0.0" id="carrierService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.deliver.api.IDeliverService"
				version="1.0.0" id="deliverService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.ICustomerService"
				version="1.0.0" id="customerService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.IOmsCsrReasonService"
				version="1.0.0" id="omsCsrReasonService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.IAddressService"
				version="1.0.0" id="addressService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.forwarder.api.IForwarderService"
				version="1.0.0" id="forwarderService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.IProjectService"
				version="1.0.0" id="projectService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.IPubMaterialInfoService"
				version="1.0.0" id="pubMaterialInfoService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.mdm.customer.api.IPubMaterialSupplierService"
				version="1.0.0" id="pubMaterialSupplierService" timeout="1200000" check="false"/>
		<dubbo:reference interface="com.jiuyescm.contract.quote.api.IContractDiscountService" 
				version="1.0.0" id="contractDiscountService"   timeout="1200000" check="false" />
		 
				
		<dubbo:reference id="accountUserService" interface="com.jiuyescm.iaccount.api.IUserService" version="1.0.0" check="false"  registry ="iaccount" />
		<dubbo:reference id="accountDeptService" interface="com.jiuyescm.iaccount.api.IDeptService" version="1.0.0" check="false"  registry="iaccount"/>
		<dubbo:reference id="emailService" interface="com.jiuyescm.framework.message.mail.api.IEmailService" 
		version="1.0.0" check="false" registry="message"/>
		
		
		
		<dubbo:reference interface="com.jiuyescm.bms.systemCode.service.api.ISystemCodeService" 
			 version="1.0.0" id="sysValueAddService"  registry="bms"/>
		<dubbo:reference interface="com.jiuyescm.bms.bill.customer.service.IBillCustomerInfoService" 
			 version="1.0.0" id="billCustomerInfoService" registry="bms"/>	
		<dubbo:reference interface="com.jiuyescm.bms.bill.check.service.IBillCheckFollowService" 
			 version="1.0.0" id="billCheckFollowService" registry="bms"/>		 
		<dubbo:reference id="billCheckInfoService" interface="com.jiuyescm.bms.billcheck.service.IBillCheckInfoService" 
			 version="1.0.0" registry="bms"/>
		<dubbo:reference id="billCheckInvoiceService" interface="com.jiuyescm.bms.billcheck.service.IBillCheckInvoiceService" 
		 	 version="1.0.0" registry="bms"/>
		<dubbo:reference id="billCheckLogService" interface="com.jiuyescm.bms.billcheck.service.IBillCheckLogService" 
			 version="1.0.0" registry="bms"/>
		<dubbo:reference id="billCheckReceiptService" interface="com.jiuyescm.bms.billcheck.service.IBillCheckReceiptService" 
			 version="1.0.0" registry="bms"/> 		
		<dubbo:reference id="bmsBillAccountInfoService" interface="com.jiuyescm.bms.billcheck.service.IBmsAccountInfoService" 
			 version="1.0.0" registry="bms"/> 	
		<dubbo:reference id="bmsBillAccountOutService" interface="com.jiuyescm.bms.billcheck.service.IBmsAccountOutService" 
			 version="1.0.0" registry="bms"/>	 		 
		<dubbo:reference id="bmsBillAccountInService" interface="com.jiuyescm.bms.billcheck.service.IBmsBillAccountInService" 
			 version="1.0.0" registry="bms"/>	 		
		<dubbo:reference id="bmsGroupService" interface="com.jiuyescm.bms.base.group.service.IBmsGroupService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="bmsGroupUserService" interface="com.jiuyescm.bms.base.group.service.IBmsGroupUserService" 
		 version="1.0.0" registry="bms"/>
	    <dubbo:reference id="reportCustomerDailyIncomeService" interface="com.jiuyescm.bms.report.service.IReportCustomerDailyIncomeService" 
		 version="1.0.0" registry="bms"/>
	    <dubbo:reference id="bmsGroupSubjectService" interface="com.jiuyescm.bms.base.group.service.IBmsGroupSubjectService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="bmsGroupCustomerService" interface="com.jiuyescm.bms.base.group.service.IBmsGroupCustomerService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="bmsGroupChargeunitService" interface="com.jiuyescm.bms.base.group.service.IBmsGroupChargeunitService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="bmsWarehouseConfigService" interface="com.jiuyescm.bms.base.config.service.IBmsWarehouseConfigService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="whAddValueService" interface="com.jiuyescm.bms.whAddValue.service.IWhAddValueService" 
		 version="1.0.0" registry="bms"/>
		 
		<dubbo:reference id="bmsSubjectService" interface="com.jiuyescm.bms.subject.service.IBmsSubjectInfoService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="billReceiveMasterService" interface="com.jiuyescm.bms.billcheck.service.IBillReceiveMasterService" 
		 version="1.0.0" registry="bms"/>
		<dubbo:reference id="billReceiveMasterRecordService" interface="com.jiuyescm.bms.billcheck.service.IBillReceiveMasterRecordService" 
		 version="1.0.0" registry="bms"/>
		 
		<dubbo:reference id="contractCustomBaseService" interface="com.jiuyescm.contract.custom.api.IContractCustomBaseService" registry="message"/>
		 
		<!-- 耗材导入报表服务  -->
		 <dubbo:reference id="materialReportService" interface="com.jiuyescm.bms.report.service.IMaterialReportService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="bizWarehouseImportReportService" interface="com.jiuyescm.bms.report.biz.service.IBizWarehouseImportReportService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="bmsFileAsynTaskService" interface="com.jiuyescm.bms.asyn.service.IBmsFileAsynTaskService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="bmsCorrectAsynTaskService" interface="com.jiuyescm.bms.asyn.service.IBmsCorrectAsynTaskService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="bmsDiscountAsynTaskService" interface="com.jiuyescm.bms.asyn.service.IBmsDiscountAsynTaskService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="bmsProductsMaterialService" interface="com.jiuyescm.bms.correct.service.IBmsProductsMaterialService" version="1.0.0" registry="bms"/>	 
		 <dubbo:reference id="bmsQuoteDispatchDetailService" interface="com.jiuyescm.bms.quotation.dispatch.service.IBmsQuoteDispatchDetailService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="reportWarehouseCustomerService" interface="com.jiuyescm.bms.base.reportCustomer.service.IReportWarehouseCustomerService" version="1.0.0" registry="bms"/>
		 <dubbo:reference id="reportCustomerService" interface="com.jiuyescm.bms.report.biz.service.IReportCustomerService" version="1.0.0" registry="bms"/>
		 <dubbo:reference interface="com.jiuyescm.bms.base.dict.api.ICustomerDictService"
				version="1.0.0" id="customerDictService" timeout="1200000" check="false"/> 
</beans> 