<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.quotation.storage.PriceStepQuotationMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity" >
              <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="quotation_id" property="quotationId" jdbcType="VARCHAR" />
	    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
	    <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
	    <result column="expireDate" property="expireDate" jdbcType="TIMESTAMP" />
	    <result column="weight_lower" property="weightLower" jdbcType="DECIMAL" />
	    <result column="weight_upper" property="weightUpper" jdbcType="DECIMAL" />
	    <result column="temperature_type_code" property="temperatureTypeCode" jdbcType="VARCHAR" />
	    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
	    <result column="continued_item" property="continuedItem" jdbcType="DECIMAL" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    <result column="num_upper" property="numUpper" jdbcType="DECIMAL" />
	    <result column="num_lower" property="numLower" jdbcType="DECIMAL" />
	    <result column="sku_upper" property="skuUpper" jdbcType="DECIMAL" />
	    <result column="sku_lower" property="skuLower" jdbcType="DECIMAL" />
	    <result column="volume_upper" property="volumeUpper" jdbcType="DECIMAL" />
	    <result column="volume_lower" property="volumeLower" jdbcType="DECIMAL" />
	    <result column="user_define1" property="userDefine1" jdbcType="VARCHAR" />
	    <result column="user_define2" property="userDefine2" jdbcType="VARCHAR" />
	    <result column="user_define3" property="userDefine3" jdbcType="VARCHAR" />
	    <result column="user_define4" property="userDefine4" jdbcType="VARCHAR" />
	    <result column="user_define5" property="userDefine5" jdbcType="VARCHAR" />
	    <result column="first_num" property="firstNum" jdbcType="DECIMAL" />
	    <result column="first_price" property="firstPrice" jdbcType="DECIMAL" />
	    <result column="continued_price" property="continuedPrice" jdbcType="DECIMAL" />
    </resultMap>
  
    <sql id="baseColumns">
        id, warehouse_code, quotation_id, contract_code, startDate, expireDate, weight_lower, weight_upper, temperature_type_code, unit_price, continued_item, remark, creator, create_time, last_modifier, last_modify_time, del_flag, num_upper, num_lower, sku_upper, sku_lower, volume_upper, volume_lower, user_define1, user_define2, user_define3, user_define4, user_define5, first_num, first_price, continued_price
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
				and id = #{id}
		</if>
		<if test="(templateId != null and templateId !='')" >
				and template_id = #{templateId}
		</if>
		<if test="(subjectId != null and subjectId !='')" >
				and subject_id = #{subjectId}
		</if>
		<if test="(feeUnitCode != null and feeUnitCode !='')" >
				and fee_unit_code = #{feeUnitCode}
		</if>
		<if test="(unitPrice != null and unitPrice !='')" >
				and unit_price = #{unitPrice}
		</if>
		<if test="(remark != null and remark !='')" >
				and remark = #{remark}
		</if>
		<if test="(creator != null and creator !='')" >
				and creator = #{creator}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and create_time >= #{createTime} add <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
			    and last_modify_time >= #{lastModifyTime} add <![CDATA[last_modify_time <= #{lastModifyTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
        select
        <include refid="baseColumns" />
        from price_storage_step
        where del_flag = 0 
		<if test="(quotationId != null and quotationId !='')" >
				and quotation_id = #{quotationId}
		</if>
		
		<if test="(startTime != null and startTime !='') and (endTime != null and endTime !='')" >
			    and create_time >= #{startTime} add <![CDATA[create_time <= #{endTime}]]>
		</if>
		order by id
    </select>

    <select id="findById" resultType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
        select
        <include refid="baseColumns" />
        from price_storage_step
        where id=#{id} 
    </select>

    <insert id="save" parameterType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
        insert into price_storage_step(warehouse_code, quotation_id, temperature_type_code, unit_price, continued_item, remark, creator, create_time, last_modifier, last_modify_time, del_flag, num_upper, num_lower,first_num, first_price, continued_price)
        values (
			#{warehouseCode,jdbcType=VARCHAR}, 
			#{quotationId,jdbcType=VARCHAR}, 
			#{temperatureTypeCode,jdbcType=VARCHAR}, 
			#{unitPrice,jdbcType=DECIMAL}, 
			#{continuedItem,jdbcType=DECIMAL}, 
			#{remark,jdbcType=VARCHAR}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR}, 
			#{numUpper,jdbcType=DECIMAL}, 
			#{numLower,jdbcType=DECIMAL}, 
			#{firstNum,jdbcType=DECIMAL}, 
			#{firstPrice,jdbcType=DECIMAL}, 
			#{continuedPrice,jdbcType=DECIMAL}
        )
    </insert>

    <update id="update" parameterType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
         update price_storage_step 
		<set >
			<if test="warehouseCode != null" >warehouse_code=#{warehouseCode,jdbcType=VARCHAR},</if>
			<if test="quotationId != null" >quotation_id=#{quotationId,jdbcType=VARCHAR},</if>
			<if test="startDate != null" >startDate=#{startDate,jdbcType=TIMESTAMP},</if>
			<if test="expireDate != null" >expireDate=#{expireDate,jdbcType=TIMESTAMP},</if>
			<if test="weightLower != null" >weight_lower=#{weightLower,jdbcType=DECIMAL},</if>
			<if test="weightUpper != null" >weight_upper=#{weightUpper,jdbcType=DECIMAL},</if>
			<if test="temperatureTypeCode != null" >temperature_type_code=#{temperatureTypeCode,jdbcType=VARCHAR},</if>
			<if test="unitPrice != null" >unit_price=#{unitPrice,jdbcType=DECIMAL},</if>
			<if test="continuedItem != null" >continued_item=#{continuedItem,jdbcType=DECIMAL},</if>
			<if test="remark != null" >remark=#{remark,jdbcType=VARCHAR},</if>
			<if test="creator != null" >creator=#{creator,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
			<if test="numUpper != null" >num_upper=#{numUpper,jdbcType=DECIMAL},</if>
			<if test="numLower != null" >num_lower=#{numLower,jdbcType=DECIMAL},</if>
			<if test="skuUpper != null" >sku_upper=#{skuUpper,jdbcType=DECIMAL},</if>
			<if test="skuLower != null" >sku_lower=#{skuLower,jdbcType=DECIMAL},</if>
			<if test="volumeUpper != null" >volume_upper=#{volumeUpper,jdbcType=DECIMAL},</if>
			<if test="volumeLower != null" >volume_lower=#{volumeLower,jdbcType=DECIMAL},</if>
			<if test="userDefine1 != null" >user_define1=#{userDefine1,jdbcType=VARCHAR},</if>
			<if test="userDefine2 != null" >user_define2=#{userDefine2,jdbcType=VARCHAR},</if>
			<if test="userDefine3 != null" >user_define3=#{userDefine3,jdbcType=VARCHAR},</if>
			<if test="userDefine4 != null" >user_define4=#{userDefine4,jdbcType=VARCHAR},</if>
			<if test="userDefine5 != null" >user_define5=#{userDefine5,jdbcType=VARCHAR},</if>
			<if test="firstNum != null" >first_num=#{firstNum,jdbcType=DECIMAL},</if>
			<if test="firstPrice != null" >first_price=#{firstPrice,jdbcType=DECIMAL},</if>
			<if test="continuedPrice != null" >continued_price=#{continuedPrice,jdbcType=DECIMAL},</if>
		</set>
        where id=#{id}
    </update>
    
	<update id="removeAll" parameterType="Map">
		update price_storage_step set del_flag=1,last_modifier=#{lastModifier},last_modify_time=#{lastModifyTime}
		where quotation_id=#{templateId} and del_flag=0
	</update>
    <update id="delete" parameterType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
        update price_storage_step 
		<set >
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
		</set>
        where id=#{id}
    </update>
    
     <select id="queryPriceStep" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
		select ps.quotation_id, ps.weight_lower, ps.weight_upper, ps.temperature_type_code, ps.unit_price, ps.num_upper, 
		ps.num_lower, ps.sku_upper, ps.sku_lower, ps.volume_upper, ps.volume_lower, ps.user_define1, ps.user_define2, 
		ps.user_define3, ps.user_define4, ps.user_define5,ps.continued_item from price_storage_step ps,
		(SELECT pg.id from  price_general_quotation pg LEFT JOIN price_contract_item pi on pi.template_id = pg.quotation_no  LEFT JOIN  price_contract_info  con on con.contract_code = pi.contract_code  
		where pi.contract_code = #{contractCode} and pi.subject_id = #{subjectId} and con.contract_state = '1' and pi.del_flag = 0 and pg.del_flag = 0 ) px where px.id = ps.quotation_id and ps.del_flag = 0
	</select>
	
	<!-- 查询标准阶梯报价 -->
	<select id="queryPriceStandardStep" parameterType="java.util.Map"
		resultType="com.jiuyescm.bms.quotation.storage.entity.PriceStepQuotationEntity">
		select ps.quotation_id, ps.weight_lower, ps.weight_upper, ps.temperature_type_code, ps.unit_price, ps.num_upper, 
		ps.num_lower, ps.sku_upper, ps.sku_lower, ps.volume_upper, ps.volume_lower, ps.user_define1, ps.user_define2, 
		ps.user_define3, ps.user_define4, ps.user_define5,ps.continued_item 
		from price_storage_step ps
		left join price_general_quotation pg on pg.id = ps.quotation_id and ps.del_flag = 0
		where pg.del_flag = 0 and pg.template_type = 'S'
		<if test="(subjectId != null and subjectId !='')">
			and pg.subject_id= #{subjectId}
		</if>
	</select>
    <select id="queryPriceStepByQuatationId" parameterType="java.util.Map" resultMap="baseResultMap">
    	 select * from price_storage_step  where quotation_id=#{quotationId} and del_flag=0;
    </select>
</mapper>