<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.quotation.storage.PriceGeneralQuotationMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="quotation_no" property="quotationNo" jdbcType="VARCHAR" />
	    <result column="customerId" property="customerId" jdbcType="VARCHAR" />
	    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
	    <result column="biz_type_code" property="bizTypeCode" jdbcType="VARCHAR" />
	    <result column="template_type" property="templateType" jdbcType="VARCHAR" />
	    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
	    <result column="fee_unit_code" property="feeUnitCode" jdbcType="VARCHAR" />
	    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
	    <result column="description" property="description" jdbcType="VARCHAR" />
	    <result column="price_type" property="priceType" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="param1" property="param1" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="baseColumns">
        id, quotation_no, customerId ,customerName,biz_type_code, subject_id, fee_unit_code, unit_price, description,price_type,remark, creator, create_time, last_modifier, last_modify_time, del_flag
        id, quotation_no, biz_type_code, template_type, subject_id, fee_unit_code, unit_price, 
        description,price_type,remark, param1, creator, create_time, last_modifier, last_modify_time, del_flag
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
			and id = #{id}
		</if>
		<if test="(quotationNo != null and quotationNo !='')" >
			and quotation_no = #{quotationNo}
		</if>
		<if test="(bizTypeCode != null and bizTypeCode !='')" >
			and biz_type_code = #{bizTypeCode}
		</if>
		<if test="(templateType != null and templateType !='')" >
			and template_type = #{templateType}
		</if>
		<if test="(priceType != null and priceType !='')" >
			and price_type = #{priceType}
		</if>
		<if test="(subjectId != null and subjectId !='')" >
			and subject_id = #{subjectId}
		</if>
		<if test="(feeUnitCode != null and feeUnitCode !='')" >
			and fee_unit_code = #{feeUnitCode}
		</if>
		<if test="(unitPrice != null and unitPrice !='')" >
			and unit_price = #{unitPrice}
		</if>
		<if test="(description != null and description !='')" >
			and description = #{description}
		</if>
		<if test="(remark != null and remark !='')" >
			and remark = #{remark}
		</if>
		<if test="(param1 != null and param1 !='')" >
			and param1 = #{param1}
		</if>
		<if test="(creator != null and creator !='')" >
			and creator = #{creator}
		</if>
		<if test="(createTime != null and createTime !='')" >
		    and create_time >= #{createTime} add <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
			and last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
		    and last_modify_time >= #{lastModifyTime} add <![CDATA[last_modify_time <= #{lastModifyTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
			and del_flag = #{delFlag}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity">
        select p.*, r.quotationName as ruleName, g.subject_name as subjectName from price_general_quotation p
		LEFT JOIN bill_rule_receive r on p.rule_no=r.quotationNo and p.subject_id=r.subject_id and r.del_flag='0'
		LEFT JOIN bms_subject_info g on g.subject_code=p.subject_id and g.in_out_typecode='INPUT' and g.del_flag='0'
        where p.del_flag = 0 
		<if test="(quotationNo != null and quotationNo !='')" >
			and p.quotation_no like '%${quotationNo}%' 
		</if>
		<if test="(remark != null and remark !='')" >
			and p.remark like '%${remark}%' 
		</if>
		<if test="(bizTypeCode != null and bizTypeCode !='')" >
			and p.biz_type_code = #{bizTypeCode}
		</if>
		<if test="(priceType != null and priceType !='')" >
			and p.price_type = #{priceType}
		</if>
		<if test="(templateType != null and templateType !='')" >
			and p.template_type = #{templateType}
		</if>
		<if test="(subjectId != null and subjectId !='')" >
			and p.subject_id = #{subjectId}
		</if>
		<if test="(feeUnitCode != null and feeUnitCode !='')" >
			and p.fee_unit_code = #{feeUnitCode}
		</if>
		<if test="(startTime != null and startTime !='') and (endTime != null and endTime !='')" >
		    and p.create_time >= #{startTime} and <![CDATA[p.create_time <= #{endTime}]]>
		</if>
		<if test="(customerId!=null and customerId!='')">
			and p.customerId=#{customerId}
		</if>
		order by p.create_time  desc
    </select>
    
    <select id="queryByQuotationNo" parameterType="java.util.Map" resultMap="baseResultMap">
     select
        <include refid="baseColumns" />
        from price_general_quotation
        where del_flag = 0 and quotation_no=#{quotationNo} 
    </select>
    
    <select id="queryOne" parameterType="java.util.Map" resultMap="baseResultMap">
        select
        <include refid="baseColumns" />
        from price_general_quotation
        where del_flag = 0 
		<if test="(quotationNo != null and quotationNo !='')" >
			and quotation_no like '%${quotationNo}%' 
		</if>
		<if test="(remark != null and remark !='')" >
			and remark like '%${remark}%' 
		</if>
		<if test="(bizTypeCode != null and bizTypeCode !='')" >
			and biz_type_code = #{bizTypeCode}
		</if>
		<if test="(priceType != null and priceType !='')" >
			and price_type = #{priceType}
		</if>
		<if test="(templateType != null and templateType !='')" >
			and template_type = #{templateType}
		</if>
		<if test="(subjectId != null and subjectId !='')" >
			and subject_id = #{subjectId}
		</if>
		<if test="(feeUnitCode != null and feeUnitCode !='')" >
			and fee_unit_code = #{feeUnitCode}
		</if>
		<if test="(startTime != null and startTime !='') and (endTime != null and endTime !='')" >
		    and create_time >= #{startTime} and <![CDATA[create_time <= #{endTime}]]>
		</if>
		<if test="(customerId != null and customerId !='')" >
			and customerId = #{customerId}
		</if>
		order by create_time  desc
		limit 1
    </select>

    <select id="findById" resultType="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity">
        select
        <include refid="baseColumns" />
        from price_general_quotation
        where id=#{id} 
    </select>

    <insert id="save" parameterType="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity">
        insert into price_general_quotation(quotation_no,customerId,customerName,biz_type_code, template_type, subject_id, 
        fee_unit_code, unit_price, description,price_type,remark, param1, creator, create_time, last_modifier,
        last_modify_time, del_flag, rule_no)
        values (
			#{quotationNo,jdbcType=VARCHAR}, 
			#{customerId},#{customerName},
			#{bizTypeCode,jdbcType=VARCHAR},
			#{templateType,jdbcType=VARCHAR},  
			#{subjectId,jdbcType=VARCHAR}, 
			#{feeUnitCode,jdbcType=VARCHAR}, 
			#{unitPrice,jdbcType=DOUBLE}, 
			#{description,jdbcType=VARCHAR}, 
			#{priceType,jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR}, 
			#{param1,jdbcType=VARCHAR},
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR},
			#{ruleNo,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity">
        update price_general_quotation 
		<set >
			<if test="quotationNo != null" >quotation_no=#{quotationNo,jdbcType=VARCHAR},</if>
			<if test="customerId!=null">customerId=#{customerId},</if>
			<if test="customerName!=null">customerName=#{customerName},</if>
			<if test="bizTypeCode != null" >biz_type_code=#{bizTypeCode,jdbcType=VARCHAR},</if>
			<if test="templateType != null" >template_type=#{templateType,jdbcType=VARCHAR},</if>
			<if test="subjectId != null" >subject_id=#{subjectId,jdbcType=VARCHAR},</if>
			<if test="feeUnitCode != null" >fee_unit_code=#{feeUnitCode,jdbcType=VARCHAR},</if>
			<if test="unitPrice != null" >unit_price=#{unitPrice,jdbcType=DOUBLE},</if>
			<if test="description != null" >description=#{description,jdbcType=VARCHAR},</if>
			<if test="priceType != null" >price_type=#{priceType,jdbcType=VARCHAR},</if>
			<if test="remark != null" >remark=#{remark,jdbcType=VARCHAR},</if>
			<if test="param1 != null" >param1=#{param1,jdbcType=VARCHAR},</if>
			<if test="creator != null" >creator=#{creator,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
			<if test="ruleNo != null" >rule_no=#{ruleNo,jdbcType=VARCHAR},</if>
		</set>
        where id=#{id}
    </update>
   <update id="remove">
	   update price_general_quotation set del_flag=1,last_modifier=#{lastModifier},last_modify_time=#{lastModifyTime}
	   where id=#{templateId}
   </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from price_general_quotation where
        id=#{id}
    </delete>
    
    <select id="findByNo" resultType="com.jiuyescm.bms.quotation.storage.entity.PriceGeneralQuotationEntity">
        select
        <include refid="baseColumns" />
        from price_general_quotation
        where quotation_no=#{quotationNo} 
    </select>
    
    <select id="queryPriceGeneral" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.storage.vo.PriceGeneralQuotationVo">
	SELECT pg.* from  price_general_quotation pg LEFT JOIN price_contract_item pi on pi.template_id = pg.quotation_no  LEFT JOIN  price_contract_info  con on con.contract_code = pi.contract_code 
	 
		where pi.contract_code = #{contractCode} and pi.subject_id = #{subjectId} and con.contract_state = '1' and pi.del_flag = 0 and pg.del_flag = 0 
	</select>
	<select id="queryPriceGeneralByContract" parameterType="Map" resultMap="baseResultMap">
		select b.* from price_contract_item a
		inner join price_general_quotation b on a.template_id=b.quotation_no and b.del_flag=0
		 where a.contract_code=#{contractCode}
		and a.subject_id=#{subjectId} and a.del_flag=0;
	</select>
	<!-- 查询标准报价 -->
    <select id="queryPriceStandardGeneral" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.storage.vo.PriceGeneralQuotationVo">
		SELECT pg.* from  price_general_quotation pg
		where pg.template_type = 'S' and pg.del_flag = 0
		<if test="(subjectId != null and subjectId !='')" >
			and pg.subject_id = #{subjectId}
		</if>
	</select>
	
</mapper>