<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.quotation.discount.BmsQuoteDiscountDetailMapper" >
    <resultMap id="BaseResultMap" type="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity" >
       		<id column="id" property="id" jdbcType="INTEGER" />
		   	<result column="template_code" property="templateCode" jdbcType="VARCHAR" />
		   	<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		   	<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		   	<result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
		   	<result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
		   	<result column="down_limit" property="downLimit" jdbcType="DOUBLE" />
		   	<result column="up_limit" property="upLimit" jdbcType="DOUBLE" />
		   	<result column="first_price" property="firstPrice" jdbcType="DOUBLE" />
		   	<result column="first_price_rate" property="firstPriceRate" jdbcType="DOUBLE" />
		   	<result column="continue_price" property="continuePrice" jdbcType="DOUBLE" />
		   	<result column="continue_pirce_rate" property="continuePirceRate" jdbcType="DOUBLE" />
		   	<result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
		   	<result column="unit_price_rate" property="unitPriceRate" jdbcType="DOUBLE" />
		   	<result column="creator" property="creator" jdbcType="VARCHAR" />
		   	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		   	<result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
		   	<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
		   	<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
			<result column="service_type_code" property="serviceTypeCode" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="BASE_COLUMNS_ALL">
        id, template_code, start_time, end_time, warehouse_code, warehouse_name, down_limit, up_limit, first_price, first_price_rate, continue_price, continue_pirce_rate, unit_price, unit_price_rate, creator, create_time, last_modifier, last_modify_time, del_flag,service_type_code
    </sql>
    
    <sql id="BASE_COLUMNS_WITHOUT_ID">
template_code, start_time, end_time, warehouse_code, warehouse_name, down_limit, up_limit, first_price, first_price_rate, continue_price, continue_pirce_rate, unit_price, unit_price_rate, creator, create_time, last_modifier, last_modify_time, del_flag,service_type_code
    </sql>

	<!-- 根据id查询 -->
	<select id="findById" resultType="java.lang.Long">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from bms_quote_discount_detail
        where id = #{id}
    </select>
    
	<!-- 根据template_code查询 -->
	<select id="queryByTemplateCode" resultType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity"
		parameterType="java.lang.String">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from bms_quote_discount_detail
        where 1=1 and del_flag = '0' and template_code = #{templateCode}
    </select>
	
	<!-- 分页查询 -->
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity">
        select
        <include refid="BASE_COLUMNS_ALL" />
        from bms_quote_discount_detail
        where 1 = 1
        	<if test=" id != null and id !='' ">
				and id = #{id}
			</if>
        	<if test=" templateCode != null and templateCode !='' ">
				and template_code = #{templateCode}
			</if>
        	<if test=" startTime != null and startTime !='' ">
				and start_time = #{startTime}
			</if>
        	<if test=" endTime != null and endTime !='' ">
				and end_time = #{endTime}
			</if>
        	<if test=" warehouseCode != null and warehouseCode !='' ">
				and warehouse_code = #{warehouseCode}
			</if>
        	<if test=" warehouseName != null and warehouseName !='' ">
				and warehouse_name = #{warehouseName}
			</if>
        	<if test=" downLimit != null and downLimit !='' ">
				and down_limit = #{downLimit}
			</if>
        	<if test=" upLimit != null and upLimit !='' ">
				and up_limit = #{upLimit}
			</if>
        	<if test=" firstPrice != null and firstPrice !='' ">
				and first_price = #{firstPrice}
			</if>
        	<if test=" firstPriceRate != null and firstPriceRate !='' ">
				and first_price_rate = #{firstPriceRate}
			</if>
        	<if test=" continuePrice != null and continuePrice !='' ">
				and continue_price = #{continuePrice}
			</if>
        	<if test=" continuePirceRate != null and continuePirceRate !='' ">
				and continue_pirce_rate = #{continuePirceRate}
			</if>
        	<if test=" unitPrice != null and unitPrice !='' ">
				and unit_price = #{unitPrice}
			</if>
        	<if test=" unitPriceRate != null and unitPriceRate !='' ">
				and unit_price_rate = #{unitPriceRate}
			</if>
        	<if test=" creator != null and creator !='' ">
				and creator = #{creator}
			</if>
        	<if test=" createTime != null and createTime !='' ">
				and create_time = #{createTime}
			</if>
        	<if test=" lastModifier != null and lastModifier !='' ">
				and last_modifier = #{lastModifier}
			</if>
        	<if test=" lastModifyTime != null and lastModifyTime !='' ">
				and last_modify_time = #{lastModifyTime}
			</if>
			and del_flag = "0"
    </select>

	<!-- 保存 -->
    <insert id="save" parameterType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity">
        insert into bms_quote_discount_detail(
        	<include refid="BASE_COLUMNS_WITHOUT_ID" />
    	)
        values (

			#{templateCode,jdbcType=VARCHAR}, 
			#{startTime,jdbcType=TIMESTAMP}, 
			#{endTime,jdbcType=TIMESTAMP}, 
			#{warehouseCode,jdbcType=VARCHAR}, 
			#{warehouseName,jdbcType=VARCHAR}, 
			#{downLimit,jdbcType=DOUBLE}, 
			#{upLimit,jdbcType=DOUBLE}, 
			#{firstPrice,jdbcType=DOUBLE}, 
			#{firstPriceRate,jdbcType=DOUBLE}, 
			#{continuePrice,jdbcType=DOUBLE}, 
			#{continuePirceRate,jdbcType=DOUBLE}, 
			#{unitPrice,jdbcType=DOUBLE}, 
			#{unitPriceRate,jdbcType=DOUBLE}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{delFlag,jdbcType=VARCHAR},
			#{serviceTypeCode,jdbcType=VARCHAR}
        )
    </insert>

	<!-- 更新 -->
    <update id="update" parameterType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity">
        update bms_quote_discount_detail
        <trim prefix="set" suffixOverrides=",">
			<if test=" templateCode != null and templateCode !='' ">
				template_code = #{templateCode,jdbcType=VARCHAR},
			</if>
			<if test=" startTime != null and startTime !='' ">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" endTime != null and endTime !='' ">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" warehouseCode != null and warehouseCode !='' ">
				warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
			</if>
			<if test=" warehouseName != null and warehouseName !='' ">
				warehouse_name = #{warehouseName,jdbcType=VARCHAR},
			</if>
				down_limit = #{downLimit,jdbcType=DOUBLE},
				up_limit = #{upLimit,jdbcType=DOUBLE},
				first_price = #{firstPrice,jdbcType=DOUBLE},
				first_price_rate = #{firstPriceRate,jdbcType=DOUBLE},
				continue_price = #{continuePrice,jdbcType=DOUBLE},
				continue_pirce_rate = #{continuePirceRate,jdbcType=DOUBLE},
				unit_price = #{unitPrice,jdbcType=DOUBLE},
				unit_price_rate = #{unitPriceRate,jdbcType=DOUBLE},
			<if test=" creator != null and creator !='' ">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test=" createTime != null and createTime !='' ">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" lastModifier != null and lastModifier !='' ">
				last_modifier = #{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifyTime != null and lastModifyTime !='' ">
				last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" delFlag != null and delFlag !='' ">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
			<if test=" serviceTypeCode != null and serviceTypeCode !='' ">
				service_type_code = #{serviceTypeCode,jdbcType=VARCHAR},
			</if>
        </trim>
        where id = #{id}
    </update>

	<!-- 删除 -->
    <delete id="delete" parameterType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity">
        update bms_quote_discount_detail
        <trim prefix="set" suffixOverrides=",">
			<if test=" lastModifier != null and lastModifier !='' ">
				last_modifier = #{lastModifier,jdbcType=VARCHAR},
			</if>
			<if test=" lastModifyTime != null and lastModifyTime !='' ">
				last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test=" delFlag != null and delFlag !='' ">
				del_flag = #{delFlag,jdbcType=VARCHAR},
			</if>
        </trim>
        where id = #{id}
    </delete>

    <select id="queryServiceTypeName" parameterType="java.util.Map"
        resultType="String">
        select servicename
        from pub_carrier_servicetype
        where delflag = "0" and carrierid = #{carrierid} and servicecode = #{servicecode}
    </select>
    
        <select id="queryServiceTypeCode" parameterType="java.util.Map"
        resultType="String">
        select servicecode
        from pub_carrier_servicetype
        where delflag = "0" and carrierid = #{carrierid} and servicename = #{servicename}
    </select>
</mapper>