<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.biz.DispatchMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.biz.vo.BmsDispatchVo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="outstock_no" property="outstockNo" jdbcType="VARCHAR" />
	    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
	    <result column="origin_zexpressnum" property="originZexpressnum" jdbcType="VARCHAR" />
	    <result column="external_no" property="externalNo" jdbcType="VARCHAR" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="origin_carrier_id" property="originCarrierId" jdbcType="VARCHAR" />
	    <result column="forward_carrier_id" property="forwardCarrierId" jdbcType="VARCHAR" />
	    <result column="adjust_carrier_id" property="adjustCarrierId" jdbcType="VARCHAR" />
	    <result column="origin_deliver_id" property="originDeliverId" jdbcType="VARCHAR" />
	    <result column="forward_deliver_id" property="forwardDeliverId" jdbcType="VARCHAR" />
	    <result column="adjust_deliver_id" property="adjustDeliverId" jdbcType="VARCHAR" />
	    <result column="temperature_type_code" property="temperatureTypeCode" jdbcType="VARCHAR" />
	    <result column="splitbox_flag" property="splitboxFlag" jdbcType="VARCHAR" />
	    <result column="b2b_flag" property="b2bFlag" jdbcType="VARCHAR" />
	    <result column="origin_month_fee_count" property="originMonthFeeCount" jdbcType="VARCHAR" />
	    <result column="month_fee_count" property="monthFeeCount" jdbcType="VARCHAR" />
	    <result column="product_detail" property="productDetail" jdbcType="VARCHAR" />
	    <result column="origin_service_type_code" property="originServiceTypeCode" jdbcType="VARCHAR" />
	    <result column="service_type_code" property="serviceTypeCode" jdbcType="VARCHAR" />
	    <result column="system_weight" property="systemWeight" jdbcType="DECIMAL" />
	    <result column="origin_weight" property="originWeight" jdbcType="DECIMAL" />
	    <result column="total_weight" property="totalWeight" jdbcType="DECIMAL" />
	    <result column="origin_throw_weight" property="originThrowWeight" jdbcType="DECIMAL" />
	    <result column="throw_weight" property="throwWeight" jdbcType="DECIMAL" />
	    <result column="correct_throw_weight" property="correctThrowWeight" jdbcType="DECIMAL" />
	    <result column="correct_weight" property="correctWeight" jdbcType="DECIMAL" />
	    <result column="adjust_weight" property="adjustWeight" jdbcType="DECIMAL" />
	    <result column="total_qty" property="totalQty" jdbcType="DECIMAL" />
	    <result column="adjust_qty" property="adjustQty" jdbcType="DECIMAL" />
	    <result column="total_sku" property="totalSku" jdbcType="DECIMAL" />
	    <result column="total_volume" property="totalVolume" jdbcType="DECIMAL" />
	    <result column="total_box" property="totalBox" jdbcType="DECIMAL" />
	    <result column="origin_send_province" property="originSendProvince" jdbcType="VARCHAR" />
	    <result column="adjust_send_province" property="adjustSendProvince" jdbcType="VARCHAR" />
	    <result column="origin_send_city" property="originSendCity" jdbcType="VARCHAR" />
	    <result column="adjust_send_city" property="adjustSendCity" jdbcType="VARCHAR" />
	    <result column="origin_send_area" property="originSendArea" jdbcType="VARCHAR" />
	    <result column="adjust_send_area" property="adjustSendArea" jdbcType="VARCHAR" />
	    <result column="origin_receive_province" property="originReceiveProvince" jdbcType="VARCHAR" />
	    <result column="adjust_receive_province" property="adjustReceiveProvince" jdbcType="VARCHAR" />
	    <result column="origin_receive_city" property="originReceiveCity" jdbcType="VARCHAR" />
	    <result column="adjust_receive_city" property="adjustReceiveCity" jdbcType="VARCHAR" />
	    <result column="origin_receive_area" property="originReceiveArea" jdbcType="VARCHAR" />
	    <result column="adjust_receive_area" property="adjustReceiveArea" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
	    <result column="outing_time" property="outingTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    
	    <result column="duty_type" property="dutyType" jdbcType="VARCHAR" />
	    <result column="update_reason_type" property="updateReasonYype" jdbcType="VARCHAR" />
	    <result column="update_reason_detail" property="updateReasonDetail" jdbcType="VARCHAR" />
	    
	    <result column="subject_code" property="subjectCode" jdbcType="VARCHAR" />
	    <result column="charge_qty" property="chargeQty" jdbcType="DECIMAL" />
	    <result column="charge_sku" property="chargeSku" jdbcType="DECIMAL" />
	    <result column="charge_box" property="chargeBox" jdbcType="DECIMAL" />
	    <result column="charge_weight" property="chargeWeight" jdbcType="DECIMAL" />
	    <result column="charge_carrier_id" property="chargeCarrierId" jdbcType="VARCHAR" />
	    <result column="quote_id" property="quoteId" jdbcType="VARCHAR" />
	    <result column="amount" property="amount" jdbcType="DECIMAL" />
	    <result column="derate_amount" property="derateAmount" jdbcType="DECIMAL" />
	    <result column="is_calculated" property="isCalculated" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="calcu_msg" property="calcuMsg" jdbcType="VARCHAR" />
	    <result column="calcu_time" property="calcuTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="baseColumns">
        outstock_no, waybill_no, origin_zexpressnum, external_no, warehouse_code, customer_id, 
        origin_carrier_id, forward_carrier_id, adjust_carrier_id, origin_deliver_id, forward_deliver_id,
         adjust_deliver_id, temperature_type_code, splitbox_flag, b2b_flag, origin_month_fee_count, 
         month_fee_count, product_detail, origin_service_type_code, service_type_code, system_weight, 
         origin_weight, total_weight, origin_throw_weight, throw_weight, correct_throw_weight, correct_weight, 
         adjust_weight, total_qty, adjust_qty, total_sku, total_volume, total_box, origin_send_province, 
         adjust_send_province, origin_send_city, adjust_send_city, origin_send_area, adjust_send_area, 
         origin_receive_province, adjust_receive_province, origin_receive_city, adjust_receive_city, 
         origin_receive_area, adjust_receive_area, create_time, write_time, outing_time, last_modifier_id, 
         last_modifier, last_modify_time, order_status, del_flag, 
         duty_type,update_reason_type,update_reason_detail,
         subject_code, charge_qty, charge_sku, 
         charge_box, charge_weight, charge_carrier_id, quote_id, amount, derate_amount, is_calculated, 
         remark, calcu_msg, calcu_time
    </sql>
    
    <sql id="baseSelectColumns">
    	<if test="(id != null)" >
				and id = #{id}
		</if>
    	<if test="(outstockNo != null and outstockNo !='')" >
				and outstock_no = #{outstockNo}
		</if>
		<if test="(customerId != null and customerId !='')" >
				and customer_id = #{customerId}
		</if>
		<if test="(carrierId != null and carrierId !='')" >
				and carrier_id = #{carrierId}
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and warehouse_code = #{warehouseCode}
		</if>
		<if test="(waybillNo != null and waybillNo !='')" >
				and waybill_no = #{waybillNo}
		</if>
    	<if test="(startTime != null and startTime !='')" >
			    and create_time>= #{startTime}
		</if>
		<if test="(endTime != null and endTime !='')" >
			    and <![CDATA[create_time <= #{endTime} ]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
		<if test="(orderStatus != null and orderStatus !='')" >
				and order_status = #{orderStatus}
		</if>
		<if test="(dutyType != null and dutyType !='')" >
				and duty_type = #{dutyType}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
				and is_calculated =#{isCalculated}
		</if>
    </sql>
    
    <select id="queryAll" resultMap="baseResultMap">
    	select
    	<include refid="baseColumns"/>
    	from view_dispatch 
    	<include refid="baseSelectColumns" />
    </select>
    

</mapper>