<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.BmsOutstockInfoMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.biz.entity.BmsOutstockInfoEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
	    <result column="zexpressnum" property="zexpressnum" jdbcType="VARCHAR" />
	    <result column="month_fee_count" property="monthFeeCount" jdbcType="VARCHAR" />
	    <result column="service_type_code" property="serviceTypeCode" jdbcType="VARCHAR" />
	    <result column="throw_weight" property="throwWeight" jdbcType="DECIMAL" />
	    <result column="correct_throw_weight" property="correctThrowWeight" jdbcType="DECIMAL" />
	    <result column="adjust_weight" property="adjustWeight" jdbcType="DECIMAL" />
	    <result column="correct_weight" property="correctWeight" jdbcType="DECIMAL" />
	    <result column="adjust_box" property="adjustBox" jdbcType="DECIMAL" />
	    <result column="adjust_qty" property="adjustQty" jdbcType="DECIMAL" />
	    <result column="adjust_send_province" property="adjustSendProvince" jdbcType="VARCHAR" />
	    <result column="adjust_send_city" property="adjustSendCity" jdbcType="VARCHAR" />
	    <result column="adjust_send_area" property="adjustSendArea" jdbcType="VARCHAR" />
	    <result column="adjust_receive_province" property="adjustReceiveProvince" jdbcType="VARCHAR" />
	    <result column="adjust_receive_city" property="adjustReceiveCity" jdbcType="VARCHAR" />
	    <result column="adjust_receive_area" property="adjustReceiveArea" jdbcType="VARCHAR" />
	    <result column="forward_carrier_id" property="forwardCarrierId" jdbcType="VARCHAR" />
	    <result column="forward_deliver_id" property="forwardDeliverId" jdbcType="VARCHAR" />
	    <result column="adjust_carrier_id" property="adjustCarrierId" jdbcType="VARCHAR" />
	    <result column="adjust_deliver_id" property="adjustDeliverId" jdbcType="VARCHAR" />
	    <result column="account_state" property="accountState" jdbcType="VARCHAR" />
	    <result column="bigstatus" property="bigstatus" jdbcType="VARCHAR" />
	    <result column="smallstatus" property="smallstatus" jdbcType="VARCHAR" />
	    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
	    <result column="accept_time" property="acceptTime" jdbcType="TIMESTAMP" />
	    <result column="waybill_status" property="waybillStatus" jdbcType="VARCHAR" />
	    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
  
    <sql id="baseColumns">
        id, waybill_no, zexpressnum, month_fee_count, service_type_code, throw_weight, correct_throw_weight, adjust_weight, correct_weight, adjust_box, adjust_qty, adjust_send_province, adjust_send_city, adjust_send_area, adjust_receive_province, adjust_receive_city, adjust_receive_area, forward_carrier_id, forward_deliver_id, adjust_carrier_id, adjust_deliver_id, account_state, bigstatus, smallstatus, sign_time, accept_time, waybill_status, order_status, del_flag, last_modifier, last_modifier_id, last_modify_time
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
				and id = #{id}
		</if>
		<if test="(waybillNo != null and waybillNo !='')" >
				and waybill_no = #{waybillNo}
		</if>
		<if test="(zexpressnum != null and zexpressnum !='')" >
				and zexpressnum = #{zexpressnum}
		</if>
		<if test="(monthFeeCount != null and monthFeeCount !='')" >
				and month_fee_count = #{monthFeeCount}
		</if>
		<if test="(serviceTypeCode != null and serviceTypeCode !='')" >
				and service_type_code = #{serviceTypeCode}
		</if>
		<if test="(throwWeight != null and throwWeight !='')" >
				and throw_weight = #{throwWeight}
		</if>
		<if test="(correctThrowWeight != null and correctThrowWeight !='')" >
				and correct_throw_weight = #{correctThrowWeight}
		</if>
		<if test="(adjustWeight != null and adjustWeight !='')" >
				and adjust_weight = #{adjustWeight}
		</if>
		<if test="(correctWeight != null and correctWeight !='')" >
				and correct_weight = #{correctWeight}
		</if>
		<if test="(adjustBox != null and adjustBox !='')" >
				and adjust_box = #{adjustBox}
		</if>
		<if test="(adjustQty != null and adjustQty !='')" >
				and adjust_qty = #{adjustQty}
		</if>
		<if test="(adjustSendProvince != null and adjustSendProvince !='')" >
				and adjust_send_province = #{adjustSendProvince}
		</if>
		<if test="(adjustSendCity != null and adjustSendCity !='')" >
				and adjust_send_city = #{adjustSendCity}
		</if>
		<if test="(adjustSendArea != null and adjustSendArea !='')" >
				and adjust_send_area = #{adjustSendArea}
		</if>
		<if test="(adjustReceiveProvince != null and adjustReceiveProvince !='')" >
				and adjust_receive_province = #{adjustReceiveProvince}
		</if>
		<if test="(adjustReceiveCity != null and adjustReceiveCity !='')" >
				and adjust_receive_city = #{adjustReceiveCity}
		</if>
		<if test="(adjustReceiveArea != null and adjustReceiveArea !='')" >
				and adjust_receive_area = #{adjustReceiveArea}
		</if>
		<if test="(forwardCarrierId != null and forwardCarrierId !='')" >
				and forward_carrier_id = #{forwardCarrierId}
		</if>
		<if test="(forwardDeliverId != null and forwardDeliverId !='')" >
				and forward_deliver_id = #{forwardDeliverId}
		</if>
		<if test="(adjustCarrierId != null and adjustCarrierId !='')" >
				and adjust_carrier_id = #{adjustCarrierId}
		</if>
		<if test="(adjustDeliverId != null and adjustDeliverId !='')" >
				and adjust_deliver_id = #{adjustDeliverId}
		</if>
		<if test="(accountState != null and accountState !='')" >
				and account_state = #{accountState}
		</if>
		<if test="(bigstatus != null and bigstatus !='')" >
				and bigstatus = #{bigstatus}
		</if>
		<if test="(smallstatus != null and smallstatus !='')" >
				and smallstatus = #{smallstatus}
		</if>
		<if test="(signTime != null and signTime !='')" >
			    and sign_time >= #{signTime} add <![CDATA[sign_time <= #{signTime}]]>
		</if>
		<if test="(acceptTime != null and acceptTime !='')" >
			    and accept_time >= #{acceptTime} add <![CDATA[accept_time <= #{acceptTime}]]>
		</if>
		<if test="(waybillStatus != null and waybillStatus !='')" >
				and waybill_status = #{waybillStatus}
		</if>
		<if test="(orderStatus != null and orderStatus !='')" >
				and order_status = #{orderStatus}
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifierId != null and lastModifierId !='')" >
				and last_modifier_id = #{lastModifierId}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
			    and last_modify_time >= #{lastModifyTime} add <![CDATA[last_modify_time <= #{lastModifyTime}]]>
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.entity.BmsOutstockInfoEntity">
        select
        <include refid="baseColumns" />
        from bms_outstock_info
        where 1=1
		<include refid="baseSelectColumns" />
    </select>

    <insert id="save" parameterType="com.jiuyescm.bms.biz.entity.BmsOutstockInfoEntity">
        insert into bms_outstock_info(waybill_no, zexpressnum, month_fee_count, service_type_code, throw_weight, correct_throw_weight, adjust_weight, correct_weight, adjust_box, adjust_qty, adjust_send_province, adjust_send_city, adjust_send_area, adjust_receive_province, adjust_receive_city, adjust_receive_area, forward_carrier_id, forward_deliver_id, adjust_carrier_id, adjust_deliver_id, account_state, bigstatus, smallstatus, sign_time, accept_time, waybill_status, order_status, del_flag, last_modifier, last_modifier_id, last_modify_time)
        values (

#{waybillNo,jdbcType=VARCHAR}, 
#{zexpressnum,jdbcType=VARCHAR}, 
#{monthFeeCount,jdbcType=VARCHAR}, 
#{serviceTypeCode,jdbcType=VARCHAR}, 
#{throwWeight,jdbcType=DECIMAL}, 
#{correctThrowWeight,jdbcType=DECIMAL}, 
#{adjustWeight,jdbcType=DECIMAL}, 
#{correctWeight,jdbcType=DECIMAL}, 
#{adjustBox,jdbcType=DECIMAL}, 
#{adjustQty,jdbcType=DECIMAL}, 
#{adjustSendProvince,jdbcType=VARCHAR}, 
#{adjustSendCity,jdbcType=VARCHAR}, 
#{adjustSendArea,jdbcType=VARCHAR}, 
#{adjustReceiveProvince,jdbcType=VARCHAR}, 
#{adjustReceiveCity,jdbcType=VARCHAR}, 
#{adjustReceiveArea,jdbcType=VARCHAR}, 
#{forwardCarrierId,jdbcType=VARCHAR}, 
#{forwardDeliverId,jdbcType=VARCHAR}, 
#{adjustCarrierId,jdbcType=VARCHAR}, 
#{adjustDeliverId,jdbcType=VARCHAR}, 
#{accountState,jdbcType=VARCHAR}, 
#{bigstatus,jdbcType=VARCHAR}, 
#{smallstatus,jdbcType=VARCHAR}, 
#{signTime,jdbcType=TIMESTAMP}, 
#{acceptTime,jdbcType=TIMESTAMP}, 
#{waybillStatus,jdbcType=VARCHAR}, 
#{orderStatus,jdbcType=VARCHAR}, 
#{delFlag,jdbcType=VARCHAR}, 
#{lastModifier,jdbcType=VARCHAR}, 
#{lastModifierId,jdbcType=VARCHAR}, 
#{lastModifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.jiuyescm.bms.biz.entity.BmsOutstockInfoEntity">
        update bms_outstock_info 
		<set >

<if test="waybillNo != null" >waybill_no=#{waybillNo,jdbcType=VARCHAR},</if>
<if test="zexpressnum != null" >zexpressnum=#{zexpressnum,jdbcType=VARCHAR},</if>
<if test="monthFeeCount != null" >month_fee_count=#{monthFeeCount,jdbcType=VARCHAR},</if>
<if test="serviceTypeCode != null" >service_type_code=#{serviceTypeCode,jdbcType=VARCHAR},</if>
<if test="throwWeight != null" >throw_weight=#{throwWeight,jdbcType=DECIMAL},</if>
<if test="correctThrowWeight != null" >correct_throw_weight=#{correctThrowWeight,jdbcType=DECIMAL},</if>
<if test="adjustWeight != null" >adjust_weight=#{adjustWeight,jdbcType=DECIMAL},</if>
<if test="correctWeight != null" >correct_weight=#{correctWeight,jdbcType=DECIMAL},</if>
<if test="adjustBox != null" >adjust_box=#{adjustBox,jdbcType=DECIMAL},</if>
<if test="adjustQty != null" >adjust_qty=#{adjustQty,jdbcType=DECIMAL},</if>
<if test="adjustSendProvince != null" >adjust_send_province=#{adjustSendProvince,jdbcType=VARCHAR},</if>
<if test="adjustSendCity != null" >adjust_send_city=#{adjustSendCity,jdbcType=VARCHAR},</if>
<if test="adjustSendArea != null" >adjust_send_area=#{adjustSendArea,jdbcType=VARCHAR},</if>
<if test="adjustReceiveProvince != null" >adjust_receive_province=#{adjustReceiveProvince,jdbcType=VARCHAR},</if>
<if test="adjustReceiveCity != null" >adjust_receive_city=#{adjustReceiveCity,jdbcType=VARCHAR},</if>
<if test="adjustReceiveArea != null" >adjust_receive_area=#{adjustReceiveArea,jdbcType=VARCHAR},</if>
<if test="forwardCarrierId != null" >forward_carrier_id=#{forwardCarrierId,jdbcType=VARCHAR},</if>
<if test="forwardDeliverId != null" >forward_deliver_id=#{forwardDeliverId,jdbcType=VARCHAR},</if>
<if test="adjustCarrierId != null" >adjust_carrier_id=#{adjustCarrierId,jdbcType=VARCHAR},</if>
<if test="adjustDeliverId != null" >adjust_deliver_id=#{adjustDeliverId,jdbcType=VARCHAR},</if>
<if test="accountState != null" >account_state=#{accountState,jdbcType=VARCHAR},</if>
<if test="bigstatus != null" >bigstatus=#{bigstatus,jdbcType=VARCHAR},</if>
<if test="smallstatus != null" >smallstatus=#{smallstatus,jdbcType=VARCHAR},</if>
<if test="signTime != null" >sign_time=#{signTime,jdbcType=TIMESTAMP},</if>
<if test="acceptTime != null" >accept_time=#{acceptTime,jdbcType=TIMESTAMP},</if>
<if test="waybillStatus != null" >waybill_status=#{waybillStatus,jdbcType=VARCHAR},</if>
<if test="orderStatus != null" >order_status=#{orderStatus,jdbcType=VARCHAR},</if>
<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
<if test="lastModifierId != null" >last_modifier_id=#{lastModifierId,jdbcType=VARCHAR},</if>
<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
		</set>
        where id=#{id}
    </update>

</mapper>