<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.biz.storage.BizAddFeeEntityMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="customerid" property="customerid" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="num" property="num" jdbcType="DOUBLE" />
	    <result column="fees_no" property="feesNo" jdbcType="VARCHAR" />
	    <result column="fees_type" property="feesType" jdbcType="VARCHAR" />
	    <result column="fees_unit" property="feesUnit" jdbcType="VARCHAR" />
	    <result column="item" property="item" jdbcType="VARCHAR" />
	    <result column="is_calculated" property="isCalculated" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    <result column="calculate_time" property="calculateTime" jdbcType="TIMESTAMP" />
	    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
	    <result column="adjust_num" property="adjustNum" jdbcType="DOUBLE" />
	    <result column="fees_type_name" property="feesTypeName" jdbcType="VARCHAR" />
   	    <result column="remark" property="remark" jdbcType="VARCHAR" />
   	    <result column="external_no" property="externalNo" jdbcType="VARCHAR" />
   	    <result column="service_content" property="serviceContent" jdbcType="VARCHAR" />
   	    <result column="remark_content" property="remarkContent" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="baseColumns">
        id,wms_id, operation_time, warehouse_code, warehouse_name, customerid, customer_name, num, fees_no, fees_type,fees_type_name, fees_unit, item, is_calculated, creator, create_time, last_modifier, last_modify_time, del_flag, calculate_time, write_time, adjust_num, remark, external_no,service_content,remark_content
    </sql>
	
    <sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
				and id = #{id}
		</if>
		<if test="(startTime != null and endTime !='')" >
			    and create_time >= #{startTime} and  <![CDATA[create_time <= #{endTime}]]>
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and warehouse_code = #{warehouseCode}
		</if>
		<if test="(warehouseName != null and warehouseName !='')" >
				and warehouse_name = #{warehouseName}
		</if>
		<if test="(customerid != null and customerid !='')" >
				and customerid = #{customerid}
		</if>
		<if test="(customerName != null and customerName !='')" >
				and customer_name = #{customerName}
		</if>
		<if test="(num != null and num !='')" >
				and num = #{num}
		</if>
		<if test="(feesNo != null and feesNo !='')" >
				and fees_no = #{feesNo}
		</if>
		<if test="(feesType != null and feesType !='')" >
				and fees_type = #{feesType}
		</if>
		<if test="(feesUnit != null and feesUnit !='')" >
				and fees_unit = #{feesUnit}
		</if>
		<if test="(item != null and item !='')" >
				and item = #{item}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
				and is_calculated = #{isCalculated}
		</if>
		<if test="(creator != null and creator !='')" >
				and creator = #{creator}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and create_time >= #{createTime} add <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
			    and last_modify_time >= #{lastModifyTime} add <![CDATA[last_modify_time <= #{lastModifyTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
		<if test="(calculateTime != null and calculateTime !='')" >
			    and calculate_time >= #{calculateTime} add <![CDATA[calculate_time <= #{calculateTime}]]>
		</if>
		<if test="(writeTime != null and writeTime !='')" >
			    and write_time >= #{writeTime} add <![CDATA[write_time <= #{writeTime}]]>
		</if>
		<if test="(adjustNum != null and adjustNum !='')" >
				and adjust_num = #{adjustNum}
		</if>
    </sql>
    
    <sql id="reCountSelectColumns">
		<if test="(startTime != null and endTime !='')" >
			    and create_time >= #{startTime} and  <![CDATA[create_time <= #{endTime}]]>
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and warehouse_code = #{warehouseCode}
		</if>
		<if test="(customerid != null and customerid !='')" >
				and customerid = #{customerid}
		</if>
		<if test="(num != null and num !='')" >
				and num = #{num}
		</if>
		<if test="(feesNo != null and feesNo !='')" >
				and fees_no = #{feesNo}
		</if>
		<if test="(feesType != null and feesType !='')" >
				and fees_type = #{feesType}
		</if>
		<if test="(feesUnit != null and feesUnit !='')" >
				and fees_unit = #{feesUnit}
		</if>
		<if test="(item != null and item !='')" >
				and item = #{item}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        select a.id,a.wms_id, a.operation_time, a.warehouse_code, a.warehouse_name, 
		a.customerid, a.customer_name, a.num, a.fees_no, a.fees_type,a.fees_type_name, 
		a.fees_unit, a.item, s.is_calculated, a.creator, a.create_time, a.last_modifier, 
		a.last_modify_time, a.del_flag, a.calculate_time, a.write_time, a.adjust_num, s.calcu_msg as remark, 
		a.external_no,a.service_content,a.remark_content, a.pay_no,a.fixed_amount,a.first_subject,a.first_subject_name,
		s.cost as cost, s.unit_price as unitPrice from biz_add_fee a
		LEFT JOIN fees_receive_storage s on a.fees_no=s.fees_no and s.del_flag='0'
		WHERE 1=1
		<if test="(id != null and id !='')" >
				and a.id = #{id}
		</if>
		<if test="(startTime != null and endTime !='')" >
			    and a.create_time >= #{startTime} and  <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and a.warehouse_code = #{warehouseCode}
		</if>
		<if test="(warehouseName != null and warehouseName !='')" >
				and a.warehouse_name = #{warehouseName}
		</if>
		<if test="(customerid != null and customerid !='')" >
				and a.customerid = #{customerid}
		</if>
		<if test="(customerName != null and customerName !='')" >
				and a.customer_name = #{customerName}
		</if>
		<if test="(num != null and num !='')" >
				and a.num = #{num}
		</if>
		<if test="(feesNo != null and feesNo !='')" >
				and a.fees_no = #{feesNo}
		</if>
		<if test="(feesType != null and feesType !='')" >
				and a.fees_type = #{feesType}
		</if>
		<if test="(feesUnit != null and feesUnit !='')" >
				and a.fees_unit = #{feesUnit}
		</if>
		<if test="(item != null and item !='')" >
				and a.item = #{item}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
				and s.is_calculated = #{isCalculated}
		</if>
		<if test="(creator != null and creator !='')" >
				and a.creator = #{creator}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and a.create_time >= #{createTime} add <![CDATA[a.create_time <= #{createTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and a.last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
			    and a.last_modify_time >= #{lastModifyTime} add <![CDATA[a.last_modify_time <= #{lastModifyTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and a.del_flag = #{delFlag}
		</if>
		<if test="(calculateTime != null and calculateTime !='')" >
			    and a.calculate_time >= #{calculateTime} add <![CDATA[a.calculate_time <= #{calculateTime}]]>
		</if>
		<if test="(writeTime != null and writeTime !='')" >
			    and a.write_time >= #{writeTime} add <![CDATA[a.write_time <= #{writeTime}]]>
		</if>
		<if test="(adjustNum != null and adjustNum !='')" >
				and a.adjust_num = #{adjustNum}
		</if>
		<if test="(firstSubject != null and firstSubject !='')" >
				and a.first_subject = #{firstSubject}
		</if>
		<if test="(payNo != null and payNo !='')" >
				and a.pay_no = #{payNo}
		</if>
    </select>
    
    <select id="queryRecount" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        select
        <include refid="baseColumns" />
        from biz_add_fee
        where 1=1
		<include refid="reCountSelectColumns" />
    </select>
    
    <update id="updateByMap"  parameterType="java.util.Map">
    	update biz_add_fee set is_calculated='99' where 1=1
    	<include refid="reCountSelectColumns" />
    </update>
    
    <select id="findById" resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        select
        <include refid="baseColumns" />
        from biz_add_fee
        where id=#{id} 
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        insert into biz_add_fee(wms_id,operation_time, warehouse_code, warehouse_name, customerid, customer_name, num, fees_no, fees_type,fees_type_name,fees_unit, item, is_calculated, creator, create_time, last_modifier, last_modify_time, del_flag, calculate_time, write_time, adjust_num,remark, external_no,service_content,remark_content)
        values (
#{wmsId,jdbcType=VARCHAR},
#{operationTime,jdbcType=TIMESTAMP}, 
#{warehouseCode,jdbcType=VARCHAR}, 
#{warehouseName,jdbcType=VARCHAR}, 
#{customerid,jdbcType=VARCHAR}, 
#{customerName,jdbcType=VARCHAR}, 
#{num,jdbcType=DOUBLE}, 
#{feesNo,jdbcType=VARCHAR}, 
#{feesType,jdbcType=VARCHAR}, 
#{feesTypeName,jdbcType=VARCHAR}, 
#{feesUnit,jdbcType=VARCHAR}, 
#{item,jdbcType=VARCHAR}, 
#{isCalculated,jdbcType=VARCHAR}, 
#{creator,jdbcType=VARCHAR}, 
#{createTime,jdbcType=TIMESTAMP}, 
#{lastModifier,jdbcType=VARCHAR}, 
#{lastModifyTime,jdbcType=TIMESTAMP}, 
#{delFlag,jdbcType=VARCHAR}, 
#{calculateTime,jdbcType=TIMESTAMP}, 
#{writeTime,jdbcType=TIMESTAMP}, 
#{adjustNum,jdbcType=DOUBLE},
#{remark},
#{externalNo,jdbcType=VARCHAR},
#{serviceContent,jdbcType=VARCHAR},
#{remarkContent,jdbcType=VARCHAR}

        )
    </insert>

    <update id="update" parameterType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        update biz_add_fee 
		<set >

<if test="operationTime != null" >operation_time=#{operationTime,jdbcType=TIMESTAMP},</if>
<if test="warehouseCode != null" >warehouse_code=#{warehouseCode,jdbcType=VARCHAR},</if>
<if test="warehouseName != null" >warehouse_name=#{warehouseName,jdbcType=VARCHAR},</if>
<if test="customerid != null" >customerid=#{customerid,jdbcType=VARCHAR},</if>
<if test="customerName != null" >customer_name=#{customerName,jdbcType=VARCHAR},</if>
<if test="num != null" >num=#{num,jdbcType=DOUBLE},</if>
<if test="feesNo != null" >fees_no=#{feesNo,jdbcType=VARCHAR},</if>
<if test="feesType != null" >fees_type=#{feesType,jdbcType=VARCHAR},</if>
<if test="feesUnit != null" >fees_unit=#{feesUnit,jdbcType=VARCHAR},</if>
<if test="item != null" >item=#{item,jdbcType=VARCHAR},</if>
<if test="isCalculated != null" >is_calculated=#{isCalculated,jdbcType=VARCHAR},</if>
<if test="creator != null" >creator=#{creator,jdbcType=VARCHAR},</if>
<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
<if test="calculateTime != null" >calculate_time=#{calculateTime,jdbcType=TIMESTAMP},</if>
<if test="writeTime != null" >write_time=#{writeTime,jdbcType=TIMESTAMP},</if>
<if test="adjustNum != null" >adjust_num=#{adjustNum,jdbcType=DOUBLE},</if>
<if test="remark!=null">remark=#{remark},</if>
<if test="externalNo != null" >external_no=#{externalNo,jdbcType=VARCHAR},</if>
<if test="serviceContent != null" >service_content=#{serviceContent,jdbcType=VARCHAR},</if>
<if test="remarkContent != null" >remark_content=#{remarkContent,jdbcType=VARCHAR}</if>

		</set>
        where 1=1
        <if test="operationTime != null" >
       		 and operation_time=#{operationTime,jdbcType=VARCHAR}
        </if>
        <if test="warehouseCode != null" >
       		 and warehouse_code=#{warehouseCode,jdbcType=VARCHAR}
        </if>
        <if test="customerid != null" >
        	and customerid=#{customerid,jdbcType=VARCHAR}
        </if>
        <if test="item != null" >
        	and item=#{item,jdbcType=VARCHAR}
        </if>
        <if test="id != null" >
        	and id=#{id}
        </if>
        <if test="wmsId != null" >
        	and wms_id=#{wmsId}
        </if>
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from biz_add_fee where
        id=#{id}
    </delete>
    
    <update id="updateBatch" parameterType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        update biz_add_fee
		<set>
		<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
        <if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
        <if test="adjustNum != null" >adjust_num=#{adjustNum,jdbcType=DOUBLE},</if>
        <if test="isCalculated != null" >is_calculated=#{isCalculated,jdbcType=VARCHAR},</if>
        <if test="feesUnit != null" >fees_unit=#{feesUnit,jdbcType=VARCHAR},</if>
        <if test="remark!=null">remark=#{remark}</if>
		<if test="externalNo != null" >external_no=#{externalNo,jdbcType=VARCHAR},</if>
		</set>
        where  id=#{id}
    </update>
    
    <select id="selectOne" parameterType="java.util.Map" resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        select <include refid="baseColumns" />  
        from  biz_add_fee 
        where 1=1 and del_flag='0'
        and operation_time=#{operationTime,jdbcType=TIMESTAMP}  
        and warehouse_code=#{warehouseCode,jdbcType=VARCHAR}
        and customerid=#{customerid,jdbcType=VARCHAR}
        and fees_type=#{feesType,jdbcType=VARCHAR}
        <if test="externalNo != null" > and external_no=#{externalNo,jdbcType=VARCHAR}</if> 
        limit 1
    </select>
    
    <select id="queryWms" parameterType="java.util.Map" resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
    	select <include refid="baseColumns" />  from  biz_add_fee where wms_id=#{wmsId,jdbcType=VARCHAR}
    </select>
    
    <select id="querybizAddFee" parameterType="java.util.Map" resultMap="baseResultMap">
    	select a.id, a.wms_id, a.operation_time, a.warehouse_code,
		a.warehouse_name, a.customerid, a.customer_name,a.num, a.fees_no,
		a.fees_type, a.fees_unit, a.item, a.is_calculated, a.creator,
		a.create_time, a.last_modifier, a.last_modify_time, a.del_flag,
		a.calculate_time, a.write_time, a.adjust_num, a.fees_type_name, a.remark,
		a.external_no
		from biz_add_fee a
		where a.del_flag = 0 
		<if test="(customerId != null and customerId !='')" >
			and customerid = #{customerId,jdbcType=VARCHAR}
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
			and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
		</if>
		<if test="(id != null and id !='')" >
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
			and is_calculated = concat(${isCalculated})
		</if>
		LIMIT #{num}
    </select>
    
    <select id="groupCount" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
    	select a.customer_name, a.fees_type_name, 
		s.is_calculated, COUNT(*) as totalNum
		from fees_receive_storage s
		LEFT JOIN biz_add_fee a on a.fees_no=s.fees_no and a.del_flag='0'
		WHERE 1=1
		<if test=" warehouseCode != null and warehouseCode !='' ">
			and a.warehouse_code = #{warehouseCode}
		</if>
       	<if test=" customerid != null and customerid !='' ">
			and a.customerid = #{customerid}
		</if>
		<if test="startTime != null and startTime !='' " >
			and <![CDATA[a.create_time >= #{startTime}]]>
		</if>
		<if test="endTime != null and endTime !='' " >
			and <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test=" isCalculated != null and isCalculated !='' ">
			and s.is_calculated = #{isCalculated}
		</if>
		<if test=" feesType != null and feesType !='' ">
			and a.fees_type = #{feesType}
		</if>
		GROUP BY a.customer_name, s.is_calculated, a.fees_type_name
		ORDER BY totalNum DESC
    </select>
    
    <update id="retryCalcu" parameterType="java.util.Map">
    	UPDATE fees_receive_storage s
		LEFT JOIN biz_add_fee a on s.fees_no=a.fees_no and a.del_flag='0'
		SET s.is_calculated='99', s.calcu_msg=''
		WHERE 1=1 and s.del_flag='0' and <![CDATA[a.fixed_amount<=0]]>
		<if test="(customerid != null and customerid !='')" >
			and a.customerid = #{customerid}
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
			and a.warehouse_code = #{warehouseCode}
		</if>
		<if test="startTime != null and startTime !='' " >
			and <![CDATA[a.create_time >= #{startTime}]]>
		</if>
		<if test="endTime != null and endTime !='' " >
			and <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test="(feesType != null and feesType !='')" >
			and a.fees_type = #{feesType}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
			and s.is_calculated = #{isCalculated}
		</if>
		<if test="(payNo != null and payNo !='')" >
		    and a.pay_no = #{payNo}
		</if>
    </update>
    
    <select id="queryTask" parameterType="java.util.Map" resultType="com.jiuyescm.bms.asyn.entity.BmsAsynCalcuTaskEntity">
    	select 
		a.customerid,s.subject_code as subjectCode, DATE_FORMAT(a.create_time,'%Y%m') as creMonth  from biz_add_fee a
		LEFT JOIN fees_receive_storage s on a.fees_no=s.fees_no  
		WHERE 1=1 and a.del_flag='0' and s.del_flag='0'
		<if test="(id != null and id !='')" >
				and a.id = #{id}
		</if>
		<if test="(startTime != null and endTime !='')" >
			    and a.create_time >= #{startTime} and  <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and a.warehouse_code = #{warehouseCode}
		</if>
		<if test="(warehouseName != null and warehouseName !='')" >
				and a.warehouse_name = #{warehouseName}
		</if>
		<if test="(customerid != null and customerid !='')" >
				and a.customerid = #{customerid}
		</if>
		<if test="(customerName != null and customerName !='')" >
				and a.customer_name = #{customerName}
		</if>
		<if test="(num != null and num !='')" >
				and a.num = #{num}
		</if>
		<if test="(feesNo != null and feesNo !='')" >
				and a.fees_no = #{feesNo}
		</if>
		<if test="(feesType != null and feesType !='')" >
				and a.fees_type = #{feesType}
		</if>
		<if test="(feesUnit != null and feesUnit !='')" >
				and a.fees_unit = #{feesUnit}
		</if>
		<if test="(item != null and item !='')" >
				and a.item = #{item}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
				and s.is_calculated = #{isCalculated}
		</if>
		<if test="(creator != null and creator !='')" >
				and a.creator = #{creator}
		</if>
		<if test="startTime != null and startTime !='' " >
			and <![CDATA[a.create_time >= #{startTime}]]>
		</if>
		<if test="endTime != null and endTime !='' " >
			and <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and a.last_modifier = #{lastModifier}
		</if>
		<if test="(adjustNum != null and adjustNum !='')" >
				and a.adjust_num = #{adjustNum}
		</if>
    	group by a.customerid,s.subject_code, DATE_FORMAT(a.create_time,'%Y%m')
    </select>
    
        <insert id="omssave" useGeneratedKeys="true" keyProperty="id" parameterType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
        insert into biz_add_fee(wms_id,operation_time, warehouse_code, warehouse_name, customerid, customer_name, num, fees_no, fees_type,fees_type_name,fees_unit, item, is_calculated, creator, create_time, last_modifier, last_modify_time, del_flag, calculate_time, write_time, adjust_num,remark, external_no,
        service_content,remark_content,pay_no,fixed_amount,first_subject,first_subject_name)
        values (
#{wmsId,jdbcType=VARCHAR},
#{operationTime,jdbcType=TIMESTAMP}, 
#{warehouseCode,jdbcType=VARCHAR}, 
#{warehouseName,jdbcType=VARCHAR}, 
#{customerid,jdbcType=VARCHAR}, 
#{customerName,jdbcType=VARCHAR}, 
#{num,jdbcType=DOUBLE}, 
#{feesNo,jdbcType=VARCHAR}, 
#{feesType,jdbcType=VARCHAR}, 
#{feesTypeName,jdbcType=VARCHAR}, 
#{feesUnit,jdbcType=VARCHAR}, 
#{item,jdbcType=VARCHAR}, 
#{isCalculated,jdbcType=VARCHAR}, 
#{creator,jdbcType=VARCHAR}, 
#{createTime,jdbcType=TIMESTAMP}, 
#{lastModifier,jdbcType=VARCHAR}, 
#{lastModifyTime,jdbcType=TIMESTAMP}, 
#{delFlag,jdbcType=VARCHAR}, 
#{calculateTime,jdbcType=TIMESTAMP}, 
#{writeTime,jdbcType=TIMESTAMP}, 
#{adjustNum,jdbcType=DOUBLE},
#{remark},
#{externalNo,jdbcType=VARCHAR},
#{serviceContent,jdbcType=VARCHAR},
#{remarkContent,jdbcType=VARCHAR},
#{payNo,jdbcType=VARCHAR},
#{fixedAmount,jdbcType=DOUBLE},
#{firstSubject,jdbcType=VARCHAR},
#{firstSubjectName,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="queryPayNo" parameterType="java.util.Map" resultType="com.jiuyescm.bms.biz.storage.entity.BizAddFeeEntity">
    	select pay_no payNo from biz_add_fee where pay_no=#{payNo,jdbcType=VARCHAR}
    </select>
    
    
        <insert id="feesave" parameterType="com.jiuyescm.bms.fees.storage.entity.FeesReceiveStorageEntity">
        insert into fees_receive_storage(fees_no, creator, create_time, last_modifier, last_modify_time, customer_id, customer_name, warehouse_code, warehouse_name, order_type, order_no, product_type, cost_type, subject_code,other_subject_code, tempreture_type, product_no, product_name, external_product_no, quantity, unit, weight, volume, varieties, box, unit_price, continued_price, cost,biz_type,is_calculated, calculate_time, param1, param2, param3, param4, param6, rule_no, bill_no, `status`, operate_time,biz_id,del_flag,first_num, first_price, continue_num, continue_price)
        values (
			#{feesNo,jdbcType=VARCHAR}, 
			#{creator,jdbcType=VARCHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, 
			#{lastModifier,jdbcType=VARCHAR}, 
			#{lastModifyTime,jdbcType=TIMESTAMP}, 
			#{customerId,jdbcType=VARCHAR}, 
			#{customerName,jdbcType=VARCHAR}, 
			#{warehouseCode,jdbcType=VARCHAR}, 
			#{warehouseName,jdbcType=VARCHAR}, 
			#{orderType,jdbcType=VARCHAR}, 
			#{orderNo,jdbcType=VARCHAR}, 
			#{productType,jdbcType=VARCHAR}, 
			#{costType,jdbcType=VARCHAR}, 
			#{subjectCode,jdbcType=VARCHAR},
			#{otherSubjectCode,jdbcType=VARCHAR}, 
			#{tempretureType,jdbcType=VARCHAR}, 
			#{productNo,jdbcType=VARCHAR}, 
			#{productName,jdbcType=VARCHAR}, 
			#{externalProductNo,jdbcType=VARCHAR}, 
			#{quantity,jdbcType=INTEGER}, 
			#{unit,jdbcType=VARCHAR}, 
			#{weight,jdbcType=DOUBLE}, 
			#{volume,jdbcType=DOUBLE}, 
			#{varieties,jdbcType=INTEGER}, 
			#{box,jdbcType=INTEGER}, 
			#{unitPrice,jdbcType=DOUBLE}, 
			#{continuedPrice,jdbcType=DOUBLE}, 
			#{cost,jdbcType=DECIMAL}, 
			#{bizType,jdbcType=VARCHAR},
			#{isCalculated,jdbcType=VARCHAR}, 
			#{calculateTime,jdbcType=TIMESTAMP},
			#{param1,jdbcType=VARCHAR}, 
			#{param2,jdbcType=VARCHAR}, 
			#{param3,jdbcType=VARCHAR}, 
			#{param4,jdbcType=VARCHAR}, 
			#{param6,jdbcType=VARCHAR}, 
			#{ruleNo,jdbcType=VARCHAR}, 
			#{billNo,jdbcType=VARCHAR}, 
			#{status,jdbcType=VARCHAR}, 
			#{operateTime,jdbcType=TIMESTAMP},
			#{bizId,jdbcType=VARCHAR},
			#{delFlag,jdbcType=VARCHAR},
			#{firstNum,jdbcType=DOUBLE},
			#{firstPrice,jdbcType=DOUBLE},
			#{continueNum,jdbcType=DOUBLE},
			#{continuePrice,jdbcType=DOUBLE}
        )
    </insert>
    
    <update id="cancalCustomerBiz" parameterType="java.util.Map">
        update biz_add_fee a 
		left JOIN fees_receive_storage b on a.fees_no=b.fees_no
		set a.del_flag='4',b.del_flag='1'
		where a.del_flag='0' and b.del_flag='0'
		and a.create_time>=#{beginTime} and  <![CDATA[a.create_time<#{endTime}]]> 
		and a.customerid in
		<foreach collection="customerList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
    </update>
    
    <update id="restoreCustomerBiz" parameterType="java.util.Map">
        update biz_add_fee
		set del_flag='0',is_calculated='0'
		where del_flag='4'
		and create_time>=#{beginTime} and  <![CDATA[create_time<#{endTime}]]> 
		and customerid=#{customerId}
    </update>
</mapper>