<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.biz.storage.StoInstockMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.biz.storage.entity.StoInstockEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="fees_no" property="feesNo" jdbcType="VARCHAR" />
	    <result column="instock_no" property="instockNo" jdbcType="VARCHAR" />
	    <result column="external_num" property="externalNum" jdbcType="VARCHAR" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="instock_type" property="instockType" jdbcType="VARCHAR" />
	    <result column="instock_date" property="instockDate" jdbcType="TIMESTAMP" />
	    <result column="total_qty" property="totalQty" jdbcType="DECIMAL" />
	    <result column="total_box" property="totalBox" jdbcType="DECIMAL" />
	    <result column="total_weight" property="totalWeight" jdbcType="DECIMAL" />
	    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="adjust_qty" property="adjustQty" jdbcType="DECIMAL" />
	    <result column="adjust_box" property="adjustBox" jdbcType="DECIMAL" />
	    <result column="adjust_weight" property="adjustWeight" jdbcType="DECIMAL" />
	    <result column="last_modifier_id" property="lastModifierId" jdbcType="VARCHAR" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	    <result column="is_calculated" property="isCalculated" jdbcType="VARCHAR" />
	    <result column="calculate_time" property="calculateTime" jdbcType="TIMESTAMP" />
	    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
   	    <result column="subjectCode" property="subjectCode" jdbcType="VARCHAR" />
		<result column="otherSubjectCode" property="otherSubjectCode" jdbcType="VARCHAR" />
		<result column="chargeTempCode" property="chargeTempCode" jdbcType="VARCHAR" />
		<result column="chargeQty" property="chargeQty" jdbcType="DECIMAL" />
		<result column="chargeWeight" property="chargeWeight" jdbcType="DECIMAL" />
		<result column="chargeVolumn" property="chargeVolumn" jdbcType="DECIMAL" />
		<result column="chargeSkus" property="chargeSkus" jdbcType="DECIMAL" />
		<result column="chargeBox" property="chargeBox" jdbcType="DECIMAL" />
		<result column="chargeUnit" property="chargeUnit" jdbcType="VARCHAR" />
		<result column="chargeUnitPrice" property="chargeUnitPrice" jdbcType="DECIMAL" />
		<result column="chargeContinuedPrice" property="chargeContinuedPrice" jdbcType="DECIMAL" />
		<result column="chargeFirstNum" property="chargeFirstNum" jdbcType="DECIMAL" />
		<result column="chargeFirstPrice" property="chargeFirstPrice" jdbcType="DECIMAL" />
		<result column="chargeContinueNum" property="chargeContinueNum" jdbcType="DECIMAL" />
		<result column="chargeContinuedPrice" property="chargeContinuedPrice" jdbcType="DECIMAL" />
		<result column="chargeRuleNo" property="chargeRuleNo" jdbcType="VARCHAR" />
		<result column="chargeIsCalculated" property="chargeIsCalculated" jdbcType="VARCHAR" />
		<result column="chargeCalculateTime" property="chargeCalculateTime" jdbcType="VARCHAR" />
		<result column="calcuMsg" property="calcuMsg" jdbcType="VARCHAR" />
    </resultMap>
  
  <!-- 业务数据+费用数据 -->
    <sql id="allColumns">
        a.id, a.cur_time, a.biz_type, a.warehouse_code, a.warehouse_name,
		a.customer_id, a.customer_name, a.temperature_type_code, a.pallet_num, a.adjust_pallet_num,
		a.fees_no, a.creator, a.creator_id, a.create_time, a.last_modifier,
		a.last_modifier_id, a.last_modify_time, a.del_flag, a.remark, a.charge_source,
		a.sys_pallet_num, a.is_calculated, a.is_calculated,a.write_time,
		b.subject_code as subjectCode, b.other_subject_code as otherSubjectCode,
		b.tempreture_type as chargeTempCode, b.quantity as chargeQty,
		b.weight as chargeWeight, b.volume as chargeVolumn, 
		b.varieties as chargeSkus, b.box as chargeBox,
		b.unit as chargeUnit, b.unit_price as chargeUnitPrice,
		b.continued_price as chargeContinuedPrice, b.first_num as chargeFirstNum,
		b.first_price as chargeFirstPrice, b.continue_num as chargeContinueNum,
		b.continue_price as chargeContinuePrice, b.cost as chargeAmount, b.derate_amount as derateAmount,
		b.rule_no as chargeRuleNo, b.is_calculated as chargeIsCalculated,
		b.calculate_time as chargeCalculateTime, b.calcu_msg as calcuMsg
    </sql>
    
    <!-- 仅业务数据 -->
    <sql id="bizColumns">
    	a.id, a.cur_time, a.biz_type, a.warehouse_code, a.warehouse_name,
		a.customer_id, a.customer_name, a.temperature_type_code, a.pallet_num, a.adjust_pallet_num,
		a.fees_no, a.creator, a.creator_id, a.create_time, a.last_modifier,
		a.last_modifier_id, a.last_modify_time, a.del_flag, a.remark, a.charge_source,
		a.sys_pallet_num, a.is_calculated, a.is_calculated,a.write_time
    </sql>
	
    <sql id="bizSelectColumns">
		<if test="(startTime != null and endTime !='')" >
			    and a.create_time >= #{startTime} and  <![CDATA[a.create_time <= #{endTime}]]>
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and a.warehouse_code = #{warehouseCode}
		</if>
		<if test="(customerId != null and customerId !='')" >
				and a.customer_id = #{customerId}
		</if>
		<if test="(feesNo != null and feesNo !='')" >
				and a.fees_no = #{feesNo}
		</if>
		<if test="(feesType != null and feesType !='')" >
				and a.fees_type = #{feesType}
		</if>
		<if test="(isCalculated != null and isCalculated !='')" >
				and a.is_calculated = #{isCalculated}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and a.create_time >= #{createTime} add <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and a.del_flag = #{delFlag}
		</if>
		<if test="(calculateTime != null and calculateTime !='')" >
			    and a.calculate_time >= #{calculateTime} add <![CDATA[calculate_time <= #{calculateTime}]]>
		</if>
    </sql>
    
    <sql id="feeSelectColumns">
		<if test="(subject_code != null and subject_code !='')" >
				and b.subject_code = #{subjectCode}
		</if>
		<if test="(other_subject_code != null and other_subject_code !='')" >
				and b.other_subject_code = #{otherSubjectCode}
		</if>
    </sql>
    
    
	<!-- 仅查询业务数据 -->
    <select id="queryBiz" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.storage.entity.StoInstockEntity">
        select
        <include refid="bizColumns" />
        from biz_pallet_info a
        where 1=1
		<include refid="bizSelectColumns" />
    </select>
    
    <!-- 仅查询入库单关联数据 -->
    <select id="queryAll" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.biz.storage.entity.StoInstockEntity">
        select
        <include refid="bizColumns" />
        from biz_pallet_info a
        left join fees_receive_storage b on a.fees_no = b.fees_no
        where 1=1
		<include refid="bizSelectColumns" />
		<include refid="feeSelectColumns" />
    </select>

    <update id="updateStoFee" parameterType="com.jiuyescm.bms.biz.storage.entity.StoInstockEntity">
        update fees_receive_storage 
		<set >
			<if test="tempreture_type != null" >tempreture_type=#{chargeTempCode,jdbcType=VARCHAR},</if>
			<if test="quantity != null" >quantity=#{chargeQty,jdbcType=DECIMAL},</if>
			<if test="weight != null" >weight=#{chargeWeight,jdbcType=DECIMAL},</if>
			<if test="volume != null" >volume=#{chargeVolumn,jdbcType=DECIMAL},</if>
			<if test="varieties != null" >varieties=#{chargeSkus,jdbcType=Integer},</if>
			<if test="box != null" >box=#{chargeBox,jdbcType=DECIMAL},</if>
			<if test="unit != null" >box=#{unit,jdbcType=VARCHAR},</if>
			<if test="unit_price != null" >unit_price=#{chargeUnitPrice,jdbcType=DECIMAL},</if>
			<if test="continued_price != null" >continued_price=#{chargeContinuedPrice,jdbcType=DECIMAL},</if>
			<if test="first_num != null" >first_num=#{chargeFirstNum,jdbcType=DECIMAL},</if>
			<if test="first_price != null" >first_price=#{chargeFirstPrice,jdbcType=DECIMAL},</if>
			<if test="continue_num != null" >continue_num=#{chargeContinueNum,jdbcType=DECIMAL},</if>
			<if test="continue_price != null" >continue_price=#{chargeContinuePrice,jdbcType=DECIMAL},</if>
			<if test="cost != null" >cost=#{chargeAmount,jdbcType=DECIMAL},</if>
			<if test="rule_no != null" >rule_no=#{chargeRuleNo,jdbcType=DECIMAL},</if>
			<if test="is_calculated != null" >is_calculated=#{chargeIsCalculated,jdbcType=DECIMAL},</if>
			<if test="calculate_time != null" >calculate_time=#{chargeCalculateTime,jdbcType=DECIMAL},</if>
			<if test="calcu_msg != null" >calcu_msg=#{calcuMsg,jdbcType=DECIMAL},</if>
		</set>
        where fees_no = #{feesNo,jdbcType=VARCHAR}
    </update>
</mapper>