<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.general.mapper.ReportWarehouseBizImportMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.general.entity.ReportWarehouseBizImportEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="import_date" property="importDate" jdbcType="DATE" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
	    <result column="import_type" property="importType" jdbcType="VARCHAR" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
  
  	<resultMap id="baseMap" type="com.jiuyescm.bms.base.reportWarehouse.ReportWarehouseCustomerEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="create_month" property="createMonth" jdbcType="VARCHAR" />
	    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
	    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
	    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
	    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
	    <result column="import_type" property="importType" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="baseColumns">
        id, import_date, warehouse_code, biz_type, import_type, customer_id, create_time, del_flag
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
				and id = #{id}
		</if>
		<if test="(importDate != null and importDate !='')" >
				and import_date = #{importDate}
		</if>
		<if test="(warehouseCode != null and warehouseCode !='')" >
				and warehouse_code = #{warehouseCode}
		</if>
		<if test="(bizType != null and bizType !='')" >
				and biz_type = #{bizType}
		</if>
		<if test="(importType != null and importType !='')" >
				and import_type = #{importType}
		</if>
		<if test="(customerId != null and customerId !='')" >
				and customer_id = #{customerId}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and create_time >= #{createTime} and <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.general.entity.ReportWarehouseBizImportEntity">
        select
        <include refid="baseColumns" />
        from report_warehouse_biz_import
        where 1=1
		<include refid="baseSelectColumns" />
    </select>

    <insert id="upsertPalletStorage" parameterType="java.util.Map" >
        insert into report_warehouse_biz_import
		(import_date, warehouse_code, biz_type, import_type, customer_id, create_time, del_flag)
    	SELECT 
		import_date, warehouse_code, biz_type, import_type, customer_id, CURRENT_TIMESTAMP, #{delFlag}
		FROM 
		(SELECT distinct warehouse_code,customerid as customer_id, DATE_FORMAT(create_time, '%Y-%m') as import_date, 'THEORY' as import_type, 'PALLET' as biz_type
		FROM biz_product_storage
		WHERE del_flag = '0' AND create_time <![CDATA[>=]]> #{startTime} AND create_time <![CDATA[<]]> #{endTime}
		UNION ALL
		SELECT warehouse_code,customer_id, DATE_FORMAT(create_time, '%Y-%m') as import_date, 'ACTUAL' as import_type, 'PALLET' as biz_type
		FROM biz_pallet_info
		WHERE del_flag = '0' and biz_type='product' 
		AND create_time <![CDATA[>=]]> #{startTime} AND create_time <![CDATA[<]]> #{endTime}) a
        on DUPLICATE KEY update
        create_time=CURRENT_TIMESTAMP , del_flag=#{delFlag};
    </insert>
    
    <insert id="upsertPackMaterial" parameterType="java.util.Map" >
        insert into report_warehouse_biz_import
        (import_date, warehouse_code, biz_type, import_type, customer_id, create_time, del_flag)
        select 
        import_date, warehouse_code, biz_type, import_type, customer_id,CURRENT_TIMESTAMP,#{delFlag}
		FROM 
		(SELECT distinct warehouse_code ,customerid as customer_id, DATE_FORMAT(create_time, '%Y-%m') as import_date, 'THEORY' as import_type, 'MATERIAL' as biz_type
			FROM biz_outstock_master
			WHERE del_flag = '0'
			AND create_time <![CDATA[>=]]> #{startTime} AND create_time <![CDATA[<]]> #{endTime}
			AND b2b_flag = '0' 
		UNION ALL
		SELECT distinct a.warehouse_code,a.customer_id,DATE_FORMAT(a.create_time, '%Y-%m') as import_date,'ACTUAL' as import_type, 'MATERIAL' as biz_type
		FROM biz_outstock_packmaterial a 
		left join biz_outstock_master b on a.waybill_no = b.waybill_no
		where a.del_flag = 0 AND b.b2b_flag = '0'
		AND a.create_time <![CDATA[>=]]> #{startTime} AND a.create_time <![CDATA[<]]> #{endTime} ) a
        on DUPLICATE KEY update
        create_time=CURRENT_TIMESTAMP , del_flag=#{delFlag};
    </insert>

    <update id="update" parameterType="com.jiuyescm.bms.general.entity.ReportWarehouseBizImportEntity">
        update report_warehouse_biz_import 
		<set >
			<if test="importDate != null" >import_date=#{importDate,jdbcType=DATE},</if>
			<if test="warehouseCode != null" >warehouse_code=#{warehouseCode,jdbcType=VARCHAR},</if>
			<if test="bizType != null" >biz_type=#{bizType,jdbcType=VARCHAR},</if>
			<if test="importType != null" >import_type=#{importType,jdbcType=VARCHAR},</if>
			<if test="customerId != null" >customer_id=#{customerId,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
		</set>
        where id=#{id}
    </update>
    
    <select id="queryWareList" parameterType="java.util.Map" resultMap="baseMap">
    	select id, create_month, warehouse_code, warehouse_name, customer_id, customer_name, biz_type,import_type, remark, creator, create_time, last_modifier, last_modify_time,del_flag
    	from report_warehouse_customer where 1=1 and del_flag='0' and import_type='0' and create_month=DATE_FORMAT(#{startTime}, '%Y-%m')
    </select>
    
    <update id="updateReport" parameterType="com.jiuyescm.bms.base.reportWarehouse.ReportWarehouseCustomerEntity">
    	update report_warehouse_biz_import set del_flag='1'
		where 1=1 and del_flag='0' and import_date=#{createMonth} and customer_id=#{customerId} and biz_type=#{bizType}
		<if test="warehouseCode!=null and warehouseCode !=''">
			and warehouse_code=#{warehouseCode}
		</if>
    </update>
    
    <insert id="insertReport" parameterType="java.util.Map">
    	INSERT into report_warehouse_biz_import 
    	       (import_date,warehouse_code,biz_type,import_type,customer_id,create_time,del_flag)
		select create_month,warehouse_code,biz_type,'THEORY',customer_id,CURRENT_TIMESTAMP,0
		from report_warehouse_customer where 1=1 and del_flag='0' and import_type='1' and create_month=DATE_FORMAT(#{startTime}, '%Y-%m')
		on DUPLICATE KEY update
        create_time=CURRENT_TIMESTAMP;	
    </insert>
    
        <update id="deletetReport" parameterType="java.util.Map">
update report_warehouse_biz_import set del_flag='1' where import_type = "ACTUAL"
		<if test="ids != null and ids != '' and ids.size>0">
		and id in
		<foreach collection="ids" index="index" item="item" open="("
				 separator="," close=")">
			 #{item}
		</foreach>
		</if>
    </update>
    
        <select id="queryImport" resultType="com.jiuyescm.bms.general.entity.ReportWarehouseBizImportEntity">
    	select id, import_date as importDateStr, warehouse_code as warehouseCode, biz_type as bizType, import_type as importType, customer_id as customerId
        from report_warehouse_biz_import
		where del_flag='0' and create_time  <![CDATA[>=]]> #{startTime}
		<if test="importType!=null and importType !=''">
			and import_type=#{importType}
		</if>
    </select>
    
</mapper>