<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.general.entity.SequenceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jiuyescm.bms.common.sequence.entity.SequenceEntity" >
    <id column="idname" property="idname" jdbcType="VARCHAR" />
    <result column="seqnum" property="seqnum" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    idname, seqnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntityExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pub_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from pub_sequence
    where idname = #{idname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    delete from pub_sequence
    where idname = #{idname,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntityExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    delete from pub_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    insert into pub_sequence (idname, seqnum)
    values (#{idname,jdbcType=VARCHAR}, #{seqnum,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    insert into pub_sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idname != null" >
        idname,
      </if>
      <if test="seqnum != null" >
        seqnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idname != null" >
        #{idname,jdbcType=VARCHAR},
      </if>
      <if test="seqnum != null" >
        #{seqnum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntityExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    select count(*) from pub_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    update pub_sequence
    <set >
      <if test="record.idname != null" >
        idname = #{record.idname,jdbcType=VARCHAR},
      </if>
      <if test="record.seqnum != null" >
        seqnum = #{record.seqnum,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    update pub_sequence
    set idname = #{record.idname,jdbcType=VARCHAR},
      seqnum = #{record.seqnum,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 12 15:03:00 CST 2015.
    -->
    update pub_sequence
    <set >
      <if test="seqnum != null" >
        seqnum = #{seqnum,jdbcType=BIGINT},
      </if>
    </set>
    where idname = #{idname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiuyescm.bms.common.sequence.entity.SequenceEntity" >
    update pub_sequence
    set seqnum = #{seqnum,jdbcType=BIGINT}
    where idname = #{idname,jdbcType=VARCHAR}
  </update>
  <!-- 存储过程获得流水 -->
  <select id="call_sequence" parameterType="java.util.Map" statementType="CALLABLE"  
     resultType="String">
      {call get_sequence(
      #{idname_in,jdbcType=VARCHAR,mode=IN},
      #{nums_in,jdbcType=BIGINT,mode=IN}, 
      #{startnum_out,jdbcType=BIGINT,mode=OUT})
       }
  </select>
</mapper>