<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.bill.dispatch.mapper.BillDispatchDistinctMapper" >
   <resultMap id="baseResultMap" type="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchDistinctEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="waybill_no" property="waybillNo" jdbcType="VARCHAR" />
	    <result column="deliveryid" property="deliveryid" jdbcType="VARCHAR" />
	    <result column="fees_no" property="feesNo" jdbcType="VARCHAR" />
	    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
	    <result column="head_weight" property="headWeight" jdbcType="DOUBLE" />
	    <result column="head_price" property="headPrice" jdbcType="DOUBLE" />
	    <result column="continued_weight" property="continuedWeight" jdbcType="DOUBLE" />
	    <result column="continued_price" property="continuedPrice" jdbcType="DOUBLE" />
	    <result column="charged_weight" property="chargedWeight" jdbcType="DOUBLE" />
	    <result column="weight_limit" property="weightLimit" jdbcType="DOUBLE" />
	    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
	    <result column="amount" property="amount" jdbcType="DOUBLE" />
	    <result column="diff_amount" property="diffAmount" jdbcType="DOUBLE" />
	    <result column="status" property="status" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="baseColumns">
 		id, waybill_no, deliveryid, fees_no, bill_no, head_weight, head_price, continued_weight,
 		continued_price, charged_weight, amount, weight_limit, unit_price, diff_amount, status, 
 		creator, create_time, last_modifier, last_modify_time, del_flag
 	</sql>
   <select id="query" parameterType="java.util.Map"
        resultType="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchCompareEntity">
         select * from (
         	(select frd.bill_no as billNo,frd.fees_no,frd.waybill_no,frd.customerid,
         	frd.deliveryid,frd.carrierid as carrierId,frd.carrier_name as carrierName,frd.head_weight,frd.head_price,
         	frd.continued_weight,frd.continued_price,frd.charged_weight,frd.total_weight,
         	frd.amount,frd.creator,frd.last_modifier,frd.last_modify_time,frd.delivery_date,
         	frd.del_flag,frd.weight_limit,frd.unit_price,
         	bdd.status,bdd.id as boddid,bdd.waybill_no as feeWayBillNo,bdd.head_weight as feeHeadWeight,
         	bdd.head_price as feeHeadPrice,bdd.continued_weight as feeContinuedWeight,
         	bdd.continued_price as feeContinuedPrice,bdd.amount as feeAmount,bdd.diff_amount,
         	bdd.weight_limit as feeWeightLimit, bdd.unit_price as feeUnitPrice,
         	bdd.charged_weight as feeChargedWeight,bdd.create_time,bdd.total_weight as feeTotalWeight
         	from fees_receive_dispatch frd LEFT JOIN bill_dispatch_distinct bdd 
			on frd.waybill_no=bdd.waybill_no and bdd.bill_no = #{billNo}
			WHERE frd.del_flag = 0 and frd.bill_no = #{billNo}) 
			union
			(select bdd.bill_no,frd.fees_no,bdd.waybill_no,frd.customerid,
			frd.deliveryid,frd.carrierid as carrierId,frd.carrier_name as carrierName,frd.head_weight,frd.head_price,
			frd.continued_weight,frd.continued_price,frd.charged_weight,frd.total_weight,
			frd.amount,frd.creator, frd.last_modifier,frd.last_modify_time,frd.delivery_date,
			frd.del_flag,frd.weight_limit,frd.unit_price,
			bdd.status, bdd.id as boddid,bdd.waybill_no as feeWayBillNo,bdd.head_weight as feeHeadWeight, 
			bdd.head_price as feeHeadPrice,bdd.continued_weight as feeContinuedWeight,
			bdd.continued_price as feeContinuedPrice,bdd.amount as feeAmount,bdd.diff_amount,
			bdd.weight_limit as feeWeightLimit, bdd.unit_price as feeUnitPrice,
			bdd.charged_weight as feeChargedWeight,bdd.create_time,bdd.total_weight as feeTotalWeight
			from fees_receive_dispatch frd right JOIN bill_dispatch_distinct bdd 
			on frd.waybill_no=bdd.waybill_no and frd.bill_no = #{billNo}
			where bdd.del_flag = 0 and bdd.bill_no = #{billNo})
		) as my
			where 1=1
        <if test="(waybillNo != null and waybillNo !='')" >
			and my.waybill_no = #{waybillNo}
		</if>
		<if test="(carrierId != null and carrierId !='')" >
			and my.carrierId  = #{carrierId}
		</if>
		<if test="(status != null and status !='')" >
			and my.status = #{status}
		</if>
		<if test="(startTime != null and startTime !='')" >
			and my.create_time<![CDATA[ >= ]]>#{startTime}
		</if>
		<if test="(endTime != null and endTime !='')" >
			and my.create_time<![CDATA[ <= ]]>#{endTime}
		</if>
		ORDER BY IF(ISNULL(ABS(my.diff_amount)),0,1) DESC
  </select>
  
  <insert id="save" parameterType="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchDistinctEntity">
    insert into bill_dispatch_distinct (waybill_no, deliveryid, fees_no,bill_no, total_weight, head_weight,
    	head_price,	continued_weight, continued_price, amount, diff_amount, status,
    	creator, create_time, last_modifier, last_modify_time,del_flag,charged_weight,weight_limit,unit_price)
    values (
    	#{waybillNo,jdbcType=VARCHAR}, 
		#{deliveryid,jdbcType=VARCHAR}, 
		#{feesNo,jdbcType=VARCHAR},
		#{billNo,jdbcType=VARCHAR},
		#{totalWeight,jdbcType=DOUBLE},
		#{headWeight,jdbcType=DOUBLE}, 
		#{headPrice,jdbcType=DOUBLE}, 
		#{continuedWeight,jdbcType=DOUBLE}, 
		#{continuedPrice,jdbcType=DOUBLE}, 
		#{chargedWeight,jdbcType=DOUBLE}, 
		#{amount,jdbcType=DOUBLE}, 
		#{diffAmount,jdbcType=DOUBLE}, 
		#{status,jdbcType=VARCHAR}, 
		#{creator,jdbcType=VARCHAR}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{lastModifier,jdbcType=VARCHAR}, 
		#{lastModifyTime,jdbcType=TIMESTAMP}, 
		#{delFlag,jdbcType=VARCHAR},
		#{weightLimit,jdbcType=DOUBLE}, 
		#{unitPrice,jdbcType=DOUBLE}
	)
    </insert>
    
      <insert id="saveExistUpdate" parameterType="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchDistinctEntity">
    insert into bill_dispatch_distinct (waybill_no, deliveryid, fees_no,bill_no,total_weight, head_weight, 
    	head_price,	continued_weight, continued_price, charged_weight, amount, diff_amount,
        status, creator, create_time, last_modifier, last_modify_time,del_flag,weight_limit,unit_price)
    values (
    	#{waybillNo,jdbcType=VARCHAR}, 
		#{deliveryid,jdbcType=VARCHAR}, 
		#{feesNo,jdbcType=VARCHAR},
		#{billNo,jdbcType=VARCHAR},
		#{totalWeight,jdbcType=DOUBLE},
		#{headWeight,jdbcType=DOUBLE}, 
		#{headPrice,jdbcType=DOUBLE}, 
		#{continuedWeight,jdbcType=DOUBLE}, 
		#{continuedPrice,jdbcType=DOUBLE}, 
		#{chargedWeight,jdbcType=DOUBLE}, 
		#{amount,jdbcType=DOUBLE}, 
		#{diffAmount,jdbcType=DOUBLE}, 
		#{status,jdbcType=VARCHAR}, 
		#{creator,jdbcType=VARCHAR}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{lastModifier,jdbcType=VARCHAR}, 
		#{lastModifyTime,jdbcType=TIMESTAMP}, 
		#{delFlag,jdbcType=VARCHAR},
		#{weightLimit,jdbcType=DOUBLE}, 
		#{unitPrice,jdbcType=DOUBLE}
	)
	on DUPLICATE KEY update 
		deliveryid=#{deliveryid,jdbcType=VARCHAR},
		fees_no=#{feesNo,jdbcType=VARCHAR},
		bill_no=#{billNo,jdbcType=VARCHAR},
		total_weight=#{totalWeight,jdbcType=DOUBLE},
		head_weight=#{headWeight,jdbcType=DOUBLE},
		head_price=#{headPrice,jdbcType=DOUBLE},
		continued_weight=#{continuedWeight,jdbcType=DOUBLE},
		continued_price=#{continuedPrice,jdbcType=DOUBLE},
		charged_weight=#{chargedWeight,jdbcType=DOUBLE},
		amount=#{amount,jdbcType=DOUBLE},
		diff_amount=0.0,
		last_modifier=#{creator,jdbcType=VARCHAR},
		last_modify_time=#{createTime,jdbcType=TIMESTAMP},
		weight_limit = #{weightLimit,jdbcType=DOUBLE}, 
		unit_price = #{unitPrice,jdbcType=DOUBLE};
    </insert>
    
    <update id="update" parameterType="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchDistinctEntity">
        update bill_dispatch_distinct 
		<set >
			<if test="waybillNo != null" >waybill_no=#{waybillNo,jdbcType=VARCHAR},</if>
			<if test="deliveryid != null" >deliveryid=#{deliveryid,jdbcType=VARCHAR},</if>
			<if test="feesNo != null" >fees_no=#{feesNo,jdbcType=VARCHAR},</if>
			<if test="billNo != null" >bill_no=#{billNo,jdbcType=VARCHAR},</if>
			<if test="totalWeight != null" >total_weight=#{totalWeight,jdbcType=DOUBLE},</if>
			<if test="headWeight != null" >head_weight=#{headWeight,jdbcType=DOUBLE},</if>
			<if test="headPrice != null" >head_price=#{headPrice,jdbcType=DOUBLE},</if>
			<if test="continuedWeight != null" >continued_weight=#{continuedWeight,jdbcType=DOUBLE},</if>
			<if test="continuedPrice != null" >continued_price=#{continuedPrice,jdbcType=DOUBLE},</if>
			<if test="chargedWeight != null" >charged_weight=#{chargedWeight,jdbcType=DOUBLE},</if>
			<if test="amount != null" >amount=#{amount,jdbcType=DOUBLE},</if>
			<if test="diffAmount != null" >diff_amount=#{diffAmount,jdbcType=DOUBLE},</if>
			<if test="status != null" >status=#{status,jdbcType=VARCHAR},</if>
			<if test="creator != null" >creator=#{creator,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
			<if test="weightLimit != null" >weight_limit = #{weightLimit,jdbcType=DOUBLE},</if>
			<if test="unitPrice != null" >unit_price = #{unitPrice,jdbcType=DOUBLE},</if>
		</set>
        where id=#{id}
    </update>
    
    <select id="queryByWayBillNoList" parameterType="java.util.List" resultType="string">
        select waybill_no from
        	bill_dispatch_distinct
       	where del_flag=0
       		and waybill_no in
       	<foreach item="item" index="index" collection="list" open="("
            separator="," close=")">
            #{item}
        </foreach>
  </select>
  
  <select id="queryBillNoList" resultType="string">
        select DISTINCT bill_no 
        from bill_dispatch_distinct
		where del_flag=0
		ORDER BY bill_no desc
  </select>
  
  <select id="queryListByBillNo" parameterType="string" resultType="com.jiuyescm.bms.fees.bill.dispatch.entity.BillDispatchDistinctEntity">
        select 
        	<include refid="baseColumns" />
        from bill_dispatch_distinct
       	where del_flag=0
       		and bill_no = #{billNo,jdbcType=VARCHAR}
  </select>
</mapper>