<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyescm.bms.quotation.contract.mapper.PriceContractDiscountItemMapper" >
    <resultMap id="baseResultMap" type="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity" >
         <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
	    <result column="biz_type_code" property="bizTypeCode" jdbcType="VARCHAR" />
	    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
	    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="last_modifier" property="lastModifier" jdbcType="VARCHAR" />
	    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>
  
    <sql id="baseColumns">
        id, contract_code, biz_type_code, subject_id, template_code, creator, create_time, last_modifier, last_modify_time, del_flag
    </sql>
	
	<sql id="baseSelectColumns">
		<if test="(id != null and id !='')" >
				and id = #{id}
		</if>
		<if test="(contractCode != null and contractCode !='')" >
				and contract_code = #{contractCode}
		</if>
		<if test="(bizTypeCode != null and bizTypeCode !='')" >
				and biz_type_code = #{bizTypeCode}
		</if>
		<if test="(subjectId != null and subjectId !='')" >
				and subject_id = #{subjectId}
		</if>
		<if test="(templateCode != null and templateCode !='')" >
				and template_code = #{templateCode}
		</if>
		<if test="(creator != null and creator !='')" >
				and creator = #{creator}
		</if>
		<if test="(createTime != null and createTime !='')" >
			    and create_time >= #{createTime} add <![CDATA[create_time <= #{createTime}]]>
		</if>
		<if test="(lastModifier != null and lastModifier !='')" >
				and last_modifier = #{lastModifier}
		</if>
		<if test="(lastModifyTime != null and lastModifyTime !='')" >
			    and last_modify_time >= #{lastModifyTime} add <![CDATA[last_modify_time <= #{lastModifyTime}]]>
		</if>
		<if test="(delFlag != null and delFlag !='')" >
				and del_flag = #{delFlag}
		</if>
    </sql>
	  
    <select id="query" parameterType="java.util.Map" resultMap="baseResultMap">
        select
        <include refid="baseColumns" />
        from price_contract_discount_item
        where 1=1
		<include refid="baseSelectColumns" />
    </select>

    <update id="updateDiscountItem" parameterType="java.util.Map">
    	 update price_contract_discount_item 
			<set >
			<if test="lastModifier != null" >last_modifier=#{lastModifier,jdbcType=VARCHAR},</if>
			<if test="lastModifyTime != null" >last_modify_time=#{lastModifyTime,jdbcType=TIMESTAMP},</if>
			<if test="delFlag != null" >del_flag=#{delFlag,jdbcType=VARCHAR},</if>
			</set>
	      where contract_code=#{contractCode}
    </update>
    
    <insert id="insertDiscountItem" parameterType="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity">
        insert into price_contract_discount_item(contract_code, biz_type_code, subject_id, template_code, creator, create_time, last_modifier, last_modify_time, del_flag)
        values (

#{contractCode,jdbcType=VARCHAR}, 
#{bizTypeCode,jdbcType=VARCHAR}, 
#{subjectId,jdbcType=VARCHAR}, 
#{templateCode,jdbcType=VARCHAR}, 
#{creator,jdbcType=VARCHAR}, 
#{createTime,jdbcType=TIMESTAMP}, 
#{lastModifier,jdbcType=VARCHAR}, 
#{lastModifyTime,jdbcType=TIMESTAMP}, 
#{delFlag,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="queryItem" parameterType="java.util.Map" resultType="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity">
    		select * from price_contract_discount_item where 1=1
			and contract_code=(select contract_code 
			        from price_contract_info 
			        where del_flag = 0 and <![CDATA[start_date < current_timestamp()]]>  and <![CDATA[expire_date >= current_timestamp()]]>
			        and customerid=#{customerId} and contract_type_code=#{contractTypeCode} and contract_state='1' limit 1)
			and biz_type_code=#{bizTypeCode} and subject_id=#{subjectId} and del_flag='0' limit 1
    </select>
    
    
    <select id="queryDiscountPrice" parameterType="java.util.Map" resultType="com.jiuyescm.bms.quotation.discount.entity.BmsQuoteDiscountDetailEntity">
		select * from bms_quote_discount_detail a 
		INNER JOIN bms_quote_discount_template b on a.template_code=b.template_code and b.del_flag='0'
		INNER JOIN price_contract_discount_item c on b.template_code=c.template_code and c.del_flag='0'
		INNER JOIN price_contract_info d on c.contract_code=d.contract_code and d.del_flag='0'
		where 1=1  and d.customerId=#{customerId} and d.contract_type_code=#{contractTypeCode} 
		and <![CDATA[d.start_date < current_timestamp()]]> and d.expire_date <![CDATA[>= ]]> current_timestamp()
		and c.subject_id=#{subjectId} 
		and a.start_time <![CDATA[<= #{createTime}]]> and a.end_time > #{createTime}
		and a.down_limit<![CDATA[<=#{count}]]> and a.up_limit>#{count}
		and a.del_flag=0
    </select>
    
    <select id="queryByCustomerId" parameterType="java.lang.String" resultType="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity">
    	select i.*, s.extattr1 as carrrierId from price_contract_discount_item i
    	LEFT JOIN system_code s on i.subject_id = s.`code`
    	where 1=1
		and i.contract_code=(select contract_code 
        from price_contract_info 
        where del_flag = 0
        and customerid=#{customerid} and contract_type_code='CUSTOMER_CONTRACT' and contract_state='1' limit 1) and i.del_flag='0'
    </select>
    
    <select id="queryByCustomerIdAndBizType" parameterType="java.util.Map" resultType="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity">
    	select i.*, s.extattr1 as carrrierId from price_contract_discount_item i
    	LEFT JOIN system_code s on i.subject_id = s.`code`
    	where 1=1
		and i.contract_code=(select contract_code 
        from price_contract_info 
        where del_flag = 0
        and customerid=#{customerid} and biz_type_code=#{bizTypeCode} and contract_type_code='CUSTOMER_CONTRACT' and contract_state='1' limit 1) and i.del_flag='0'
    </select>
    
    <select id="queryAll" resultType="com.jiuyescm.bms.quotation.contract.entity.PriceContractDiscountItemEntity">
    	select i.*, c.customerId as customerId, s.extattr1 as carrrierId from price_contract_discount_item i
		LEFT JOIN price_contract_info c on c.contract_code=i.contract_code
		LEFT JOIN system_code s on i.subject_id = s.`code`
		where 1=1
		and i.contract_code in (select contract_code 
        from price_contract_info 
        where del_flag = 0
        and contract_type_code='CUSTOMER_CONTRACT' and contract_state='1') and i.del_flag='0'
    </select>
    
</mapper>