<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<dubbo:application name="bmstimer" />
	<dubbo:registry protocol="zookeeper" address="${legacy.dubbo.registry}" default="true" />
	<dubbo:registry id="registry" protocol="zookeeper" address="${dubbo.registry}" check ="false" />
	<dubbo:consumer version="1.0.0" timeout="1200000" retries="0" cluster="failfast" />
	
	<import resource="classpath:dubbo/DubboClient-bms.xml" />
</beans>							